.tasks-logo {
	background: static_url('images/tasks.jpg') no-repeat;
	height:16px;
  width:16px;
}

.tasks-icon-feature {
  background: static_url('images/feature.gif');
  height:16px;
  width:16px;
}

.tasks-icon-bug {
  background: static_url('images/bug.gif');
  height:16px;
  width:16px;
}


.tasks-priority-high {
	text-decoration: underline !important;
}

.tasks-priority-medium {
  font-weight: none !important;
}

.tasks-priority-low {
  font-style: italic !important;
}


.tasks-status-planned {
	color: black !important;
}

.tasks-status-active {
  color: blue !important;
}

.tasks-status-done {
  color: green !important;
}

.tasks-status-risky {
  color: red !important;
}


.tasks-validation-untested {
  background: #CCC none repeat scroll 0 0 !important;
}

.tasks-validation-passed {
  background: #93DB70 none repeat scroll 0 0 !important;
}

.tasks-validation-failed {
  background: #EAADEA none repeat scroll 0 0 !important;
}

.sc-theme.focus .sc-list-view.sc-source-list .sc-collection-item.sel {
	border-style: solid;
	border-size: 1px;
	border-color: black;
}
