.tasks-logo {
	background: static_url('images/tasks.jpg') no-repeat;
	height:16px;
  width:16px;
}

.tasks-icon-feature {
  background: static_url('images/feature.gif');
  height:16px;
  width:16px;
}

.tasks-icon-bug {
  background: static_url('images/bug.gif');
  height:16px;
  width:16px;
}


.tasks-priority-high {
	font-weight: bold;
}

.tasks-priority-medium {
  font-weight: none;
}

.tasks-priority-low {
  font-style: italic;
}


.tasks-status-planned {
	color: black;
}

.tasks-status-active {
  color: blue;
}

.tasks-status-done {
  color: green;
}

.tasks-status-risky {
  color: red;
}