.DS_Store
buildtools
log
public
tmp
.git2svn/
*.swp
*.swo
sc-integrate
TODO
server.out
server-test.out
server.err
server-test.err
abbot/
tasks-server/prod/WEB-INF/data
tasks-server/test/WEB-INF/data
persevere/ra-cache
Tasks.sqlite3
sinatra-server.rb
tools/*.pyc
tools/helpers/*.pyc
frameworks/scui
frameworks/sproutcore
*.gif
*.jpg
