.DS_Store
tmp
*.swp
*.swo
server.out
server-test.out
server.err
server-test.err
tasks-server/prod/WEB-INF/data
tasks-server/test/WEB-INF/data
persevere/ra-cache
tools/*.pyc
tools/helpers/*.pyc
frameworks/scui
frameworks/scuds
frameworks/sproutcore
tools/csv_converter/build
tools/csv_converter/dist
