/* 

  Tasks Application Styling 

  @author Matt Grantham
  @author Suvajit Guupta
  
*/

/*


/* Application styles */

body.sc-theme {
  background: static_url('images/app-bg.png') !important;
}

.sc-theme .sc-pane.sc-main {
  background: none !important;
}

.sc-theme .sc-view {
  color: #000;
}

.sc-theme .sc-gray-border {
  border: 0 !important;
}

.bordered-view {
	border: 1px solid #bbb !important;
	background: #eee;
}

.sc-pane.sc-panel > .sc-view {
  background-color: #AAA;
}

/*-----------------------------------------------------------------
 * Status styles
 */

.status-planned {
	color: black !important;
}

.status-active {
  color: blue !important;
}

.status-done {
  color: green !important;
}

.status-risky {
  color: red !important;
}

/*-----------------------------------------------------------------
 * Shared styles
 */

.image-button span label{
  line-height: 28px !important;
  margin-left: 8px !important;
  margin-right: 3px !important;
}

.onscreen-help {
  color: #444 !important;
  font-size: 10px !important;
	line-height: 12px !important;
}

.date-time {
  color: #444 !important;
  font-size: 10px !important;
}

.recently-updated {
  margin-top: 4px !important;
  margin-left: -3px !important;
  height: 11px !important;
  width: 11px !important;
}

.projects-pane-inner .recently-updated,
.users-pane-inner .sel .recently-updated {
  background: static_url('images/white-dot.png') no-repeat 0 0;
}

.tasks-pane-inner .recently-updated,
.users-pane-inner .recently-updated {
  background: static_url('images/black-dot.png') no-repeat 0 0;
}

.sc-collection-view {
  border-top: 0 !important;
}

.sc-view.sc-text-field-view .sc-hint {
  z-index: 0;
  letter-spacing: -1px;
}

.sc-view.sc-checkbox-view span {
  font-size: 10px !important;
  text-align: left !important;
}

.checkbox-icon .icon {
  position: absolute;
  top: 0;
  left: 20px;
}

.checkbox-icon .label {
  left: 22px !important;
}

.add-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/add.png') no-repeat;
}

.duplicate-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/duplicate.png') no-repeat;
}

.delete-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/delete.png') no-repeat;
}

.description-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/description.png') no-repeat;
}

.sc-outline .count {
	font-style: normal !important;
	font-weight: normal !important;
  height: 12px !important;
  line-height: 11px !important;
  color: #CCC !important;
  border: none !important;
  background: #888 none repeat scroll 0 0 !important;
  padding: 1px 5px;
}

.sc-view.sc-radio-view.task-attribute-set.disabled .sc-radio-button .sc-button-label {
  color: black;
}

.sc-view.sc-menu-item {
  font-size: 11px !important;
}

.sc-view.sc-button-view.sc-menu-item.disabled {
  height: 4px !important;
}

.sc-list-item-view img.disclosure {
  left: -5px !important;
}

.sc-view.sc-list-item-view.sc-collection-item.sc-group-item label {
  left: 10px !important;
}

/*
// FIXME: [SC] hacks to turn off blue ring highlight around select button with focus
*/
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-right,
.sc-theme .sc-button-view.square.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.square.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.square.focus .focus-ring .focus-right,
.sc-theme .sc-button-view.capsule.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.capsule.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.capsule.focus .focus-ring .focus-right,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-right {
  background: none !important;
}

.sc-text-field-view, .select-button span label {
  font-size: 11px !important;
}

.scui-combobox-view .scui-combobox-text-field-view.focus {
  outline: none !important;
}

.scui-combobox-view label {
  height: 23px !important;
}

.scui-combobox-view .scui-combobox-dropdown-button-view {
  width: 30px !important;
  height: 24px !important;
  background: static_url('images/dropdown-arrow.png') no-repeat 0 0;
}


/*
// FIXME: [SC] remove hacks to workaround bug in radiobutton styling on non-OSX platforms, can't do this for Linux
*/
.mozilla.windows .sc-radio-view.sc-layout-horizontal .sc-radio-button {
  margin-top: -12px;
}
.chrome.windows .sc-radio-view.sc-layout-horizontal .sc-radio-button,
.safari.windows .sc-radio-view.sc-layout-horizontal .sc-radio-button,
.safari.mac .sc-radio-view.sc-layout-horizontal .sc-radio-button {
  margin-top: 4px;
}

.picker-resizable-handle {
  width: 16px;
  height: 16px;
  background: static_url('images/lower-right-drag.png') no-repeat;
}/*-----------------------------------------------------------------
 * Filter pane styles
 */

.quickfilter-toolbar {
  border: 1px solid #AAA;
  background: #DDD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.quickfilter-label,
.quickfilter-label .sc-button-inner,
.quickfilter-label .sc-button-inner label {
  font-size: 10px !important;
  color: #FFF !important;
  text-shadow: none !important;
  -moz-border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
}

.quickfilter-label.active {
  border: 1px solid #555 !important;
}

.quickfilter-label.active .sc-button-inner label {
  text-shadow: 0 1px #BBB !important;
}

.troubled .sc-button-inner,
.troubled .sc-button-inner label {
  background: #C33 !important;
}

.unfinished .sc-button-inner,
.unfinished .sc-button-inner label {
  background: #33F !important;
}

.unvalidated .sc-button-inner,
.unvalidated .sc-button-inner label {
  background: #6C6 !important;
}

.completed .sc-button-inner,
.completed .sc-button-inner label {
  background: #363 !important;
}

.showstoppers .sc-button-inner,
.showstoppers .sc-button-inner label {
  background: #639 !important;
}

.all .sc-button-inner,
.all .sc-button-inner label {
  background: #555 !important;
}

.task-attribute-set {
  font-size: 10px !important;
  text-align: center !important;
  line-height: 1.5;
  border: 1px solid #888;
  background: #CCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/*-----------------------------------------------------------------
 * Statistics pane styles
 */

.statistics-pane table {
  border: 1px solid gray !important;
  border-collapse: separate !important;
  margin: 0px !important;
}

.statistics-pane td {
  font-size: 11px !important;
  line-height: 20px !important;
	border: none !important;
}

.statistics-pane td img {
  vertical-align: middle !important;
}

.statistics-pane tr.even {
  background-color: #ddd;
}

.statistics-pane tr.odd {
  background-color: #eee;
}

.sc-view.sc-label-view.active {
  border: 1px solid #555 !important;
  background-color: #AAA;
  -moz-border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
}

.mozilla .sc-text-field-view input {
  top:0px !important;
}