/* 

  Tasks Application Styling 

  @author Matt Grantham
  @author Suvajit Guupta
  
*/

/*
// TODO: [SC] see how to make this work instead of having min-width/height specified for mainPane
body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 1024px;
  min-height: 768px;
}
*/

#mainPane {
  min-width: 1024px;
}

.sc-theme .sc-view {
  color: #000;
}

.sc-theme .sc-gray-border {
  border: 0 !important;
}

.error-message {
	color: red !important;
	font-weight: bold !important;
}