/* 

  Tasks Application Styling 

  @author Matt Grantham
  
*/

#mainPane {
  min-width: 1024px;
  mid-height: 768px;
  background: #444;
}

.sc-theme .sc-view {
  color: black;
}

.sc-theme .sc-gray-border {
  border: 0 !important;
}