/*-----------------------------------------------------------------
 * Task type styles
 */

.tasks-icon-feature {
  background: static_url('images/feature.gif');
  height: 16px;
  width: 16px;
}

.tasks-icon-bug {
  background: static_url('images/bug.gif');
  height: 16px;
  width: 16px;
}


/*-----------------------------------------------------------------
 * Task priority styles
 */

.tasks-priority-high {
	font-weight: bold !important;
	text-decoration: underline !important;
}

.tasks-priority-medium {
	font-weight: normal !important;
	font-style: normal !important;
}

.tasks-priority-low {
	font-weight: normal !important;
  font-style: italic !important;
}


/*-----------------------------------------------------------------
 * Task status styles
 */

.tasks-status-planned {
	color: black !important;
}

.tasks-status-active {
  color: blue !important;
}

.tasks-status-done {
  color: green !important;
}

.tasks-status-risky {
  color: red !important;
}


/*-----------------------------------------------------------------
 * Task validation styles
 */

.tasks-validation-untested {
  background: #DDD none repeat scroll 0 0 !important;
}

.tasks-validation-passed {
  background: #93DB70 none repeat scroll 0 0 !important;
}

.tasks-validation-failed {
  background: #EAADEA none repeat scroll 0 0 !important;
}

/*-----------------------------------------------------------------
 * Assignee loading styles
 */

.normal-assignee {
  color: white !important;
  background: black none repeat scroll 0 0 !important;
}

.overloaded-assignee {
  color: white !important;
  background: red none repeat scroll 0 0 !important;
}

/*-----------------------------------------------------------------
 * SC style overrides
 */
 
.sc-theme .sc-view {
  color: black;
}

.sc-theme .sc-gray-border {
  border: 0 !important;
}

.sc-radio-view.sc-small-size {
  font-size: 10px;
  line-height: 18px;
}

.sc-label-view.disabled {
  color: #888;
}

.sc-theme.focus .sc-list-view.sc-source-list .sc-collection-item.sel {
	border-style: solid;
	border-size: 1px;
	border-color: black;
}
