/* 

  Tasks Application Styling 

  @author Matt Grantham
  @author Suvajit Guupta
  
*/

/* Application styles */

body.sc-theme {
  background: #3D3D3D !important;
}

.sc-theme .sc-pane.sc-main {
  background: none !important;
}

.sc-theme .sc-view {
  color: #000;
}

.sc-theme .sc-gray-border {
  border: 0 !important;
}

.sc-pane.sc-panel > .sc-view {
  background-color: #CCC;
}

.separator {
  background-color: #EEE !important;
  border-top: 1px solid #999 !important;
}

/*-----------------------------------------------------------------
 * Status styles
 */

.status-planned {
	color: black !important;
}

.status-active {
  color: blue !important;
}

.status-done {
  color: green !important;
}

.status-risky {
  color: red !important;
}

/*-----------------------------------------------------------------
 * Shared styles
 */

.onscreen-help {
  color: #444 !important;
  font-size: 10px !important;
  font-style: italic !important;
	line-height: 12px !important;
}

.date-time {
  color: #333 !important;
  font-size: 11px !important;
}

.recently-updated {
  margin-top: 4px !important;
  margin-left: -2px !important;
  height: 11px !important;
  width: 11px !important;
}

.projects-pane-inner .recently-updated,
.users-pane-inner .recently-updated {
  background: static_url('images/white-dot.png') no-repeat 0 0;
}

.tasks-pane-inner .recently-updated,
.projects-pane-inner .sel .recently-updated,
.users-pane-inner .sel .recently-updated {
  background: static_url('images/black-dot.png') no-repeat 0 0;
}

.sc-collection-view {
  border-top: 0 !important;
}

.sc-view.sc-text-field-view .sc-hint {
  z-index: 0;
  letter-spacing: -1px;
}

.sc-view.sc-checkbox-view span {
  font-size: 10px !important;
  text-align: left !important;
}

.checkbox-icon .icon {
  position: absolute;
  top: 0;
  left: 20px;
}

.checkbox-icon .label {
  left: 22px !important;
}

.sc-button-view.dark img {
  left: 1px;
}
.sc-button-view.dark.active img,
.sc-button-view.dark.disabled img {
  opacity: 0.5;
}

.add-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/add.png') no-repeat;
}

.delete-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/delete.png') no-repeat;
}

.duplicate-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/duplicate.png') no-repeat;
}

.description-icon,
.project-item.sel .description-icon,
.task-item .description-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/task-description.png') no-repeat;
}

.project-item .description-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/project-description.png') no-repeat;
}

.sc-outline .count {
	font-style: normal !important;
	font-weight: normal !important;
  height: 12px !important;
  line-height: 11px !important;
  border: none !important;
  padding: 1px 5px;
}

.sc-view.sc-radio-view.item-group.disabled .sc-radio-button .sc-button-label {
  color: black;
}

.sc-view.sc-menu-item {
  font-size: 11px !important;
}

.sc-view.sc-button-view.sc-menu-item.disabled {
  height: 4px !important;
}

.sc-theme .sc-list-view .sc-list-item-view.sc-group-item {
	text-transform: uppercase;
	font-weight: bold;
}

.sc-list-item-view img.disclosure {
  left: -5px !important;
}

.sc-group-item .sc-outline img {
  left: 5px !important;
}

.sc-theme .sc-label-view img.icon {
	top: 0px !important;
}

.projects-pane-inner .sc-list-item-view img.icon,
.users-pane-inner .sc-list-item-view img.icon {
  left: 2px !important;
}

/*
// FIXME: [SC] remove hacks to turn off blue ring highlight around select button with focus
*/
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-right,
.sc-theme .sc-button-view.square.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.square.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.square.focus .focus-ring .focus-right,
.sc-theme .sc-button-view.capsule.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.capsule.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.capsule.focus .focus-ring .focus-right,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-right {
  background: none !important;
}

.sc-text-field-view, .select-button span label {
  font-size: 11px !important;
}

/*
// TODO: [SG, JL] port to Rigel SCUI ComboBoxView that uses SC.ButtonView for the caret
*/
.scui-combobox-view .scui-combobox-text-field-view.focus {
  outline: none !important;
}

.scui-combobox-view label {
  height: 23px !important;
}

.scui-combobox-view .scui-combobox-dropdown-button-view {
  width: 30px !important;
  height: 24px !important;
  background: static_url('images/dropdown-arrow.png') no-repeat 0 0;
}


/*
// FIXME: [SC] remove hacks to workaround bug in radiobutton styling on non-OSX platforms, can't do this for Linux
*/
.mozilla.windows .sc-radio-view.sc-layout-horizontal .sc-radio-button {
  margin-top: -12px;
}
.chrome.windows .sc-radio-view.sc-layout-horizontal .sc-radio-button,
.safari.windows .sc-radio-view.sc-layout-horizontal .sc-radio-button,
.safari.mac .sc-radio-view.sc-layout-horizontal .sc-radio-button {
  margin-top: 4px;
}

.safari .sc-view .sc-text-field-view.focus {
  outline: none;
}

.picker-resizable-handle {
  width: 16px;
  height: 16px;
  background: static_url('images/lower-right-drag.png') no-repeat;
}

/*
// FIXME: [SC] get styling added to standard theme (Ace1) to resolve tearing on side on panels
*/
.sc-panel {
  -webkit-transform: translate3d(0px,0px,0px);
}