/* 

Bottom Bar Styling 

  @author Matt Grantham - grantham.matt@gmail.com
  
*/

.bottom-bar {
  background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -44px;
}

.bottom-bar-label {
  font-size: 9px !important;
  color: #000 !important;
  font-weight: bold !important;
}

.field-set-grouping {
  background-color: #777 !important;
}
