/* 

  Bottom Bar Styling 

	@author Suvajit Gupta
  @author Matt Grantham
  
*/

/*-----------------------------------------------------------------
* Control bar styles
*/

.control-bar {
  background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -71px; 
}

.task-attribute-set-title  {
  font-size: 10px !important;
  font-weight: bold !important;
  color: #000 !important;
  text-shadow: #fff 0 1px 1px;
  text-align: center !important;
}

.task-attribute-set {
  font-size: 10px !important;
  text-align: center !important;
  line-height: 1.5;
  border: 1px solid #AAA;
  background: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.sc-radio-view.sc-layout-horizontal .sc-radio-button {
  padding-right: 4px;
}

/*
// FIXME: [SC] remove hacks to workaround bug in radiobutton styling on non-OSX platforms, can't do this for Linux
*/
.mozilla.windows .control-bar .sc-radio-view.sc-layout-horizontal .sc-radio-button {
  margin-top: -12px;
}
.chrome.windows .control-bar .sc-radio-view.sc-layout-horizontal .sc-radio-button,
.safari.windows .control-bar .sc-radio-view.sc-layout-horizontal .sc-radio-button,
.safari.mac .control-bar .sc-radio-view.sc-layout-horizontal .sc-radio-button {
  margin-top: 4px;
}

/*-----------------------------------------------------------------
 * Status bar styles/icons
 */

.status-bar {
  background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -44px;
}

.status-bar-label {
  font-size: 10px !important;
  color: #000 !important;
  text-shadow: #fff 0 1px 1px;
}

.status-bar-button {
  font-size: 10px !important;
  font-weight: bold !important;
  text-align: center !important;
  color: #000 !important;
}

.status-bar-button.disabled {
  color: #777 !important;
}

.statistics-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/statistics.png') no-repeat;
}
