/* 

  Bottom Bar Styling 

	@author Suvajit Gupta
  @author Matt Grantham
  
*/

/*-----------------------------------------------------------------
* Control bar styles
*/

.control-bar {
  background: static_url('images/default-theme-toolbar-bg.png') repeat-x 0 0; 
}

.task-attribute-set-title  {
  font-size: 10px !important;
  font-weight: bold !important;
  color: #000 !important;
  text-align: center !important;
}

.task-attribute-set {
  font-size: 10px !important;
  text-align: center !important;
  line-height: 2.5;
	border: 1px solid #444 !important;
  background: #f2f2f2 !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.sc-radio-view.sc-layout-horizontal .sc-radio-button {
  padding-right: 4px;
}

/*-----------------------------------------------------------------
 * Status bar styles
 */

.status-bar {
  background: static_url('images/default-theme-bar-bg.png') repeat-x 0 -44px;
}

.status-bar-message {
  font-size: 10px !important;
  color: #000 !important;
  text-shadow: #fff 0 1px 1px;
}
