/* 

  Bottom Bar Styling 

	@author Suvajit Gupta
  @author Matt Grantham
  
*/

.bottom-bar-label {
  background: none !important;
  font-size: 11px !important;
  color: #BBB !important;
}

.progress-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/progress.gif') no-repeat 0 0;
}

.save-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/save.png') no-repeat 0 0;
  margin-left: 1px;
  margin-top: 1px;
}

.refresh-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/refresh.png') no-repeat 0 0;
  margin-left: 1px;
  margin-top: 1px;
}
