/* 

Bottom Bar Styling 

  @author Matt Grantham - grantham.matt@gmail.com
  
*/

.projects-tool-bar {
  background: #BBB;
  // background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -106px; 
}

.tasks-tool-bar {
  background: #BBB;
  //background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -106px; 
}

.tool-bar-label {
  font-size: 9px !important;
  color: #000 !important;
  text-align: center !important;
  font-weight: bold !important;
}

.tool-bar-button {
  font-size: 9px !important;
  color: #000 !important;
  text-align: left !important;
  font-weight: bold !important;
}

.task-attribute-set {
  background-color: #777 !important;
}

.status-bar {
  background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -44px;
}

.status-bar-label {
  font-size: 10px !important;
  color: #000 !important;
}
