/* 

  Bottom Bar Styling 

  @author Matt Grantham - grantham.matt@gmail.com
  
*/

.control-bar {
  background: #BBB;
  //background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -106px; 
}

.control-bar-button {
  font-size: 9px !important;
  color: #000 !important;
  text-align: left !important;
  font-weight: bold !important;
}

.task-attribute-set {
  font-size: 9px !important;
  line-height: 2;
}

.task-attribute-set-title  {
  font-size: 11px !important;
  color: #000 !important;
  text-align: center !important;
  font-weight: bold !important;
}

.task-attribute-set-grouping {
  background-color: #777 !important;
}

.status-bar {
  background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -44px;
}

.status-bar-label {
  font-size: 10px !important;
  color: #000 !important;
}
