/*
==========================================================================
 Project: Tasks - Custom Button Styles
 Author: Matt Grantham - @MattGrantham
==========================================================================
*/

/*
// FIXME: [SG/MG] add a "dark" segment button to be used in display mode selector
*/

/* Dark Toolbar & Tabbed Buttons
---------------------------------------------- */

/* Dark Buttons - Square */

/* Regular */

.sc-theme .sc-button-view.sc-regular-size.square.dark {
  background: static_url('images/buttons/dark/regular-r.png') no-repeat right;
}

.sc-theme .sc-button-view.sc-regular-size.square.dark .sc-button-inner {
  background: static_url('images/buttons/dark/regular-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.square.dark .sc-button-label {
  background: static_url('images/buttons/dark/regular-m.png') repeat-x;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  text-shadow: 0 1px 0 #242424;
}

/* Active */
.sc-theme .sc-button-view.sc-regular-size.square.active.dark {
  background: static_url('images/buttons/dark/active-r.png') no-repeat right;
}
.sc-theme .sc-button-view.sc-regular-size.square.active.dark .sc-button-inner {
  background: static_url('images/buttons/dark/active-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.square.active.dark .sc-button-label {
  background: static_url('images/buttons/dark/active-m.png') repeat-x;
  color: #d0d0d0;
  text-shadow: 0 -1px 0 #242424;
}

/* Disabled */
.sc-theme .sc-button-view.sc-regular-size.square.disabled.dark {
  background: static_url('images/buttons/dark/disabled-r.png') no-repeat right !important;
}
.sc-theme .sc-button-view.sc-regular-size.square.disabled.dark .sc-button-inner {
  background: static_url('images/buttons/dark/disabled-l.png') no-repeat !important;
}
.sc-theme .sc-button-view.sc-regular-size.square.disabled.dark .sc-button-label {
  background: static_url('images/buttons/dark/disabled-m.png') repeat-x !important;
  color: #d0d0d0;
  margin-left: 5px;
  margin-right: 5px;
  text-shadow: 0 -1px 0 #242424;
}

/* Selected or Default */
.sc-theme .sc-button-view.sc-regular-size.square.dark.def,
.sc-theme .sc-button-view.sc-regular-size.square.dark.sel {
  background: static_url('images/buttons/dark/sel-r.png') no-repeat right;
}

.sc-theme .sc-button-view.sc-regular-size.square.dark.def .sc-button-inner,
.sc-theme .sc-button-view.sc-regular-size.square.dark.sel .sc-button-inner {
  background: static_url('images/buttons/dark/sel-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.square.dark.def .sc-button-label,
.sc-theme .sc-button-view.sc-regular-size.square.dark.sel .sc-button-label {
  background: static_url('images/buttons/dark/sel-m.png') repeat-x;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  text-shadow: 0 1px 0 #242424;
}

/* Selected or Default - Active*/
.sc-theme .sc-button-view.sc-regular-size.square.dark.def.active,
.sc-theme .sc-button-view.sc-regular-size.square.dark.sel.active {
  background: static_url('images/buttons/dark/sel-active-r.png') no-repeat right;
}

.sc-theme .sc-button-view.sc-regular-size.square.dark.def.active .sc-button-inner,
.sc-theme .sc-button-view.sc-regular-size.square.dark.sel.active .sc-button-inner {
  background: static_url('images/buttons/dark/sel-active-l.png') no-repeat;
}
.sc-theme .sc-button-view.sc-regular-size.square.dark.def.active .sc-button-label,
.sc-theme .sc-button-view.sc-regular-size.square.dark.sel.active .sc-button-label {
  background: static_url('images/buttons/dark/sel-active-m.png') repeat-x;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  text-shadow: 0 1px 0 #242424;
}

/* Selected - Disabled*/
.sc-theme .sc-button-view.sc-regular-size.square.dark.sel.disabled {
  background: static_url('images/buttons/dark/sel-disabled-r.png') no-repeat right !important;
}

.sc-theme .sc-button-view.sc-regular-size.square.dark.sel.disabled .sc-button-inner {
  background: static_url('images/buttons/dark/sel-disabled-l.png') no-repeat !important;
}
.sc-theme .sc-button-view.sc-regular-size.square.dark.sel.disabled .sc-button-label {
  background: static_url('images/buttons/dark/sel-disabled-m.png') repeat-x !important;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  text-shadow: 0 1px 0 #242424;
}