/* 

  Button Styling 
  
*/

/* @group Button Core */

.sc-button-view {
  display: inline-block;
  padding: 0;
  border: 0;
  text-decoration: none;
}

.sc-button-view.icon img {
  width: 16px;
  height: 16px;
  position: relative;
  top: -2px;
  margin-right: 2px;
  vertical-align: middle;
}

.sc-button-view label.sc-button-label {
  font-weight: normal;
}

/* @end */

/* @group Square Style */

/* @group Core */

.sc-button-view.sc-regular-size.square {
  text-align: center;
  text-shadow: #fff 0 1px 0;
}

.sc-button-view.sc-regular-size.square .sc-button-inner {
  display: block;
}

.sc-button-view.sc-regular-size.square .sc-button-label {
  display: block;
  padding: 0 0 7px 0;
  text-align: center;
}

.sc-button-view.sc-regular-size.square.active .sc-button-label {
  color: #fff;
  text-shadow: #000 0 -1px 0;
}

.sc-button-view.square.disabled .sc-button-label {
  color: #999;
  text-shadow: none;
}

.sc-button-view.sc-regular-size.square.def .sc-button-label,
.sc-button-view.sc-regular-size.square.sel .sc-button-label {
	color: #fff;
	text-shadow: #2a569e 0 -1px 0;
}

.sc-button-view.sc-regular-size.square.def.disabled .sc-button-label,
.sc-button-view.sc-regular-size.square.sel.disabled .sc-button-label {
	color: #ddd;
	text-shadow: none;
}

/* @end */

/* @group Regular Size */

/* @group basic */

.sc-button-view.sc-regular-size.square {
  max-height: 24px;
  font-size: 12px;
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -814px;
}

.sc-button-view.sc-regular-size.square .sc-button-inner {
  height: 24px;
  max-height: 24px;
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -789px;
}

.sc-button-view.sc-regular-size.square .sc-button-label {
  height: 24px;
  margin: 0 11px;
  line-height: 24px;
  background: static_url('images/sc-theme-repeat-x.png') repeat-x left -764px;
}

/* @end */

/* @group active */

.sc-button-view.sc-regular-size.square.active {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -913px;
}

.sc-button-view.sc-regular-size.square.active .sc-button-inner {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -939px;
}

.sc-button-view.sc-regular-size.square.active .sc-button-label {
  background: static_url('images/sc-theme-repeat-x.png') repeat-x right -889px;
}

/* @end */

/* @group disabled */

.sc-button-view.sc-regular-size.square.disabled {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -1064px;
}

.sc-button-view.sc-regular-size.square.disabled .sc-button-inner {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -1038px;
}

.sc-button-view.sc-regular-size.square.disabled .sc-button-label {
  background: static_url('images/sc-theme-repeat-x.png') repeat-x left -1014px;
}

/* @end */

/* @group sel - def */

.sc-button-view.sc-regular-size.square.def,
.sc-button-view.sc-regular-size.square.sel {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -1190px;
}

.sc-button-view.sc-regular-size.square.def .sc-button-inner,
.sc-button-view.sc-regular-size.square.sel .sc-button-inner {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -1164px;
}

.sc-button-view.sc-regular-size.square.def .sc-button-label,
.sc-button-view.sc-regular-size.square.sel .sc-button-label {
  background: static_url('images/sc-theme-repeat-x.png') repeat-x left -1140px;
}

/* @end */

/* @group sel - def -active */

.sc-button-view.sc-regular-size.square.def.active,
.sc-button-view.sc-regular-size.square.sel.active {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -1316px;
}

.sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -1290px;
}

.sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
  background: static_url('images/sc-theme-repeat-x.png') repeat-x left -1266px;
}

/* @end */

/* @group sel - def -disabled */

.sc-button-view.sc-regular-size.square.def.disabled,
.sc-button-view.sc-regular-size.square.sel.disabled {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat right -1442px;
}

.sc-button-view.sc-regular-size.square.def.disabled .sc-button-inner,
.sc-button-view.sc-regular-size.square.sel.disabled .sc-button-inner {
  background: static_url('images/sc-theme-repeat-x.png') no-repeat left -1416px;
}

.sc-button-view.sc-regular-size.square.def.disabled .sc-button-label,
.sc-button-view.sc-regular-size.square.sel.disabled .sc-button-label {
  background: static_url('images/sc-theme-repeat-x.png') repeat-x left -1392px;
}

/* @end */

/* @end */

/* @end */

/* @group Capsule */

/* @group basic */

.sc-button-view.capsule {
  height: 24px;
	max-height: 24px;
  font-size: 12px;
  text-align: center;
  text-shadow: #fff 0 1px 0;
 	background: static_url('images/sc-theme-repeat-x.png') no-repeat right -224px;
}

.sc-button-view.capsule .sc-button-inner {
  height: 24px;
  max-height: 24px;
  display: block;
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -197px;
}

.sc-button-view.capsule .sc-button-label {
  height: 24px;
  display: block;
  margin: 0 12px;
  padding: 0 0 7px 0;
  line-height: 24px;
  text-align: center;
  text-shadow: none;
 	background: static_url('images/sc-theme-repeat-x.png') repeat-x left -1583px !important;
}

/* @end */

/* @group sel - def : capsule */

.sc-button-view.capsule.sel,
.sc-button-view.capsule.def {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat right -304px;
}

.sc-button-view.capsule.sel .sc-button-inner,
.sc-button-view.capsule.def .sc-button-inner {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -277px;
}

.sc-button-view.capsule.sel .sc-button-label,
.sc-button-view.capsule.def .sc-button-label {
  color: #fff;
	text-shadow: #2a569e 0 -1px 0;
	background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -1608px !important;
}

/* @end */

/* @group disabled */

.sc-button-view.capsule.disabled {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat right -544px;
}

.sc-button-view.capsule.disabled .sc-button-inner {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -517px;
}

.sc-button-view.capsule.disabled .sc-button-label {
  color: #999;
	text-shadow: none;
	background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -1633px !important;
}

/* @end */

/* @group sel.disabled - def.disabled*/

.sc-button-view.capsule.sel.disabled,
.sc-button-view.capsule.def.disabled {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat right -544px;
}

.sc-button-view.capsule.sel.disabled .sc-button-inner,
.sc-button-view.capsule.def.disabled .sc-button-inner {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -517px;
}

.sc-button-view.capsule.sel.disabled .sc-button-label,
.sc-button-view.capsule.def.disabled .sc-button-label {
  color: #999;
	text-shadow: none;
	background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -1633px !important;
}

/* @end */

/* @group sel.active - def.active */

.sc-button-view.capsule.sel.active,
.sc-button-view.capsule.def.active {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat right -464px;
}

.sc-button-view.capsule.sel.active .sc-button-inner,
.sc-button-view.capsule.def.active .sc-button-inner {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -437px;
}

.sc-button-view.capsule.sel.active .sc-button-label,
.sc-button-view.capsule.def.active .sc-button-label {
  color: #fff;
	background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -1683px !important;
}

/* @end */

/* @group active */

.sc-button-view.capsule.active {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat right -384px;
}

.sc-button-view.capsule.active .sc-button-inner {
	background: static_url('images/sc-theme-repeat-x.png') no-repeat 0 -357px;
}

.sc-button-view.capsule.active .sc-button-label {
  color: #fff;
	background: static_url('images/sc-theme-repeat-x.png') repeat-x 0 -1658px !important;
}

/* @end */

/* @end */