/* 

  Tasks Filter Pane Styling 

  @author Suvajit Guupta
  
*/

/* Application styles */

.quickfilter-toolbar .sc-button-inner label {
  font-size: 10px !important;
  text-transform: uppercase !important;
  text-shadow: 0 1px 0 #777 !important;
  letter-spacing: -1px !important;
}

.all {
  color: black !important;
}

.showstoppers {
  color: purple !important;
}

.troubled {
  color: red !important;
}

.unfinished {
  color: blue !important;
}

.unvalidated {
  color: #0C0 !important;
}

.completed {
  color: darkGreen !important;
  font-weight: bold !important;
}

.attribute-label {
  text-transform: uppercase !important;
}

.item-group {
  font-size: 10px !important;
  text-align: center !important;
  line-height: 1.5;
  border: 1px solid #888;
  background: #EEE;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.filter-pane .sc-view.sc-checkbox-view span {
  font-size: 10px !important;
  text-align: left !important;
}

.checkbox-icon {
  padding-top: 3px;
  padding-left: 18px;
}