/* 

  Login Page Styling

  @author Matt Grantham
  
*/

.login-page {
  background: static_url('images/login-bg.png') no-repeat;
}

.sc-view .login-name {
  background: none;
}

.safari .sc-view .login-name.focus,
.mozilla .sc-view .login-name.focus,
.msie .sc-view .login-name.focus {
  outline: 0;
}

.safari .login-name .border {
  -webkit-appearance: none;
}

.mozilla .sc-view .login-name .border {
  -moz-appearance: none;
}

.msie .sc-view .login-name .border {
  border: 0;
}

.sc-view .login-name .padding {
  left: 0;
  right: 0;
}

.login-name input {
  font-size: 16px;
  font-weight: bold;
}

.mozilla .login-name input {
  top: 4px;
}

.msie .login-name input {
  line-height: 26px;
}

.sign-up {
  color: #b4dbdd !important;
  font-size: 11px !important;
}

.login-body {
  background: none !important;
}

.login-page .top-left-edge {
  display: none;
}

.login-page .top-edge {
  display: none;
}

.login-page .top-right-edge {
  display: none;
}

.login-page .right-edge {
  display: none;
}

.login-page .bottom-right-edge {
  display: none;
}

.login-page .bottom-edge {
  display: none;
}

.login-page .bottom-left-edge {
  display: none;
}

.login-page .left-edge {
  display: none;
}