/* 

  Login Page Styling

  @author Matt Grantham
  
*/

.tasks-logo-large {
  background: static_url('images/tasks-logo-large.png') no-repeat;
}

/*
// TODO: [SG] remove hack below to force download of task item background image once images are run through Chance
*/
.login-body .dummy {
  background: static_url('images/paper.jpg');
}

.login-body .sc-text-field-view {
  background: #1D1D1D !important;
  border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  border: 1px solid #000 !important;
  box-shadow: inset -2px -2px 3px black !important;
  -moz-box-shadow: inset -2px -2px 3px black !important;
  -webkit-box-shadow: inset -2px -2px 3px black !important;
  outline: 0 !important;
}

/* Custom Text Fields */
.login-body .sc-text-field-view .border {
  border: none !important;
  -webkit-appearance: none !important;
}

.mozilla .login-body .sc-text-field-view .border {
  -moz-appearance: none;
}

.login-body .sc-text-field-view input {
  color: #DDD;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  padding: 0 6px;
}
.login-body .sc-text-field-view.sc-hint .field {
  color: #888 !important;
}

.msie .login-body .sc-text-field-view input {
  top: 0px !important;
}

.login-body .sc-checkbox-view .label {
	color: #BBB !important;
  font-size: 10px !important;
  text-align: center !important;
}

.login-body .sc-label-view {
	color: #AAA;
}

/* Default Panel Styling Overrides */
.login-page .top-left-edge {
  display: none;
}
.login-page .top-edge {
  display: none;
}
.login-page .top-right-edge {
  display: none;
}
.login-page .right-edge {
  display: none;
}
.login-page .bottom-right-edge {
  display: none;
}
.login-page .bottom-edge {
  display: none;
}
.login-page .bottom-left-edge {
  display: none;
}
.login-page .left-edge {
  display: none;
}