/* 

  Projects Pane Styling

  @author Matt Grantham
  @author Suvajit Guupta
  
*/

/*-----------------------------------------------------------------
 * Project pane styles
 */

.projects-pane,
.users-pane {
  border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  border: 1px solid #000 !important;
  background: #2E2E2E !important;
  box-shadow: inset 0 3px 8px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.4) !important;
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.4) !important;
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.4) !important;
}

.projects-pane .sc-view.sc-container-view,
.sc-view.sc-collection-view.sc-list-view.sc-list-view.projects-pane-inner,
.sc-theme.focus .sc-view.sc-collection-view.sc-list-view.sc-list-view.projects-pane-inner,
.sc-view.sc-collection-view.sc-list-view.sc-list-view.users-pane-inner,
.sc-theme.focus .sc-view.sc-collection-view.sc-list-view.sc-list-view.users-pane-inner {
  background: none;
}

.sc-view.sc-ghost-view .sc-scroll-view {
  background: none !important;
}

.projects-pane-inner .sc-collection-item,
.users-pane-inner .sc-collection-item {
	border: 1px solid #252525 !important;
}

.projects-pane-inner .sc-collection-item,
.projects-pane-inner .sc-collection-item .sc-outline,
.users-pane-inner .sc-collection-item,
.users-pane-inner .sc-collection-item .sc-outline {
  left: 24px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
}

.projects-pane-inner .sc-collection-item.sc-group-item.hover,
.users-pane-inner .sc-collection-item.sc-group-item.hover {
  background: none !important;
}


/*-----------------------------------------------------------------
 * Project group item styles
 */
 
.projects-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item,
.users-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item {
  left: 6px !important;
  color: #777 !important;
}

.projects-pane-inner .sc-group-item .sc-outline,
.users-pane-inner .sc-group-item .sc-outline {
  top: 1px !important;
  bottom: 0px !important;
  left: 0px !important;
  right: 1px !important;
  background-color: #393939;
  box-shadow: inset 0 3px 8px rgba(150,150,150,.6), 0 1px 0 rgba(0,0,0,.4);
  -moz-box-shadow: inset 0 3px 8px rgba(150,150,150,.6), 0 1px 0 rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(150,150,150,.6), 0 1px 0 rgba(0,0,0,.4);
}

.projects-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item .sc-outline label,
.users-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item .sc-outline label {
  left: 24px !important;
  color: #EEE !important;
}


/*-----------------------------------------------------------------
 * Project list item styles
 */
 
.projects-pane-inner .sc-collection-item.project-item,
.users-pane-inner .sc-collection-item.user-item {
  margin-top: 1px !important;
  left: 1px !important;
  right: 1px !important;
  background-color: #353535 !important;
}

.projects-pane-inner .sc-view.sc-list-item-view.sc-collection-item.project-item.hover,
.users-pane-inner .sc-view.sc-list-item-view.sc-collection-item.user-item.hover {
  background-color: #252525 !important;
}
.project-item.hover .project-margin {
  background-image: static_url('images/pencil.png') !important;
  background-repeat: no-repeat !important;
  background-position: 0px 3px !important;
}


.projects-pane-inner .sc-group-item.sel .sc-outline,
.projects-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item.sel .sc-outline label,
.sc-list-view.sc-list-view.projects-pane-inner .sc-collection-item.sel,
.sc-list-view.sc-list-view.projects-pane-inner .sc-collection-item.sel.hover,
.users-pane-inner .sc-group-item.sel .sc-outline,
.users-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item.sel .sc-outline label,
.sc-list-view.sc-list-view.users-pane-inner .sc-collection-item.sel,
.sc-list-view.sc-list-view.users-pane-inner .sc-collection-item.sel.hover {
  height: 22px !important;
  color: #000 !important;
  background: #9CF !important;
  border-color: #000 !important;
}

.sc-list-view.sc-list-view.projects-pane-inner .sc-collection-item.project-item.sel,
.sc-list-view.sc-list-view.projects-pane-inner .sc-collection-item.project-item.sel.hover,
.sc-list-view.sc-list-view.users-pane-inner .sc-collection-item.user-item.sel.hover,
.sc-list-view.sc-list-view.users-pane-inner .sc-collection-item.user-item.sel {
  font-weight: normal !important;
}

.project-item .recently-updated,
.user-item .recently-updated {
  margin-left: 0px !important;
}

.project-item .sc-outline,
.user-item .sc-outline {
  left: 14px !important;
}

.project-margin {
  position: absolute !important;
  top: 0px !important;
  bottom: 0px !important;
  left: 11px !important;
	width: 16px !important;
}

.projects-pane .projects-pane-inner .sc-collection-item label,
.users-pane .users-pane-inner .sc-collection-item label {
  color: #CCC;
}

.projects-pane .projects-pane-inner .sc-collection-item.sel label,
.users-pane .users-pane-inner .sc-collection-item.sel label {
  color: #222;
}

.projects-pane-inner .sc-view.sc-list-item-view.sc-collection-item .sc-outline label,
.users-pane-inner .sc-view.sc-list-item-view.sc-collection-item .sc-outline label {
  left: 22px !important;
  right: 50px !important;
  opacity: 1 !important;
}

.projects-pane .projects-pane-inner .sel .sc-outline img,
.users-pane .users-pane-inner .sel .sc-outline img {
  top: 12px !important;
  margin-top: -9px !important;
}

.project-item .count {
  right: 14px !important;
  background: #888 !important;
  color: white !important;
}

.project-item .description-icon {
  position: absolute;
  top: 4px !important;
  right: -1px !important;
}


/*-----------------------------------------------------------------
 * Project icons
 */
 
.system-project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/system-project.png') no-repeat 0 0;
}

.empty-system-project-icon {
  width: 16px !important;
  height: 16px !important;
  margin-left: -2px !important;
  margin-top: -9px !important;
  background: static_url('images/empty-system-project.png') no-repeat 0 0;
}

.project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/project.png') no-repeat 0 0;
}

.empty-project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/empty-project.png') no-repeat 0 0;
}


/*-----------------------------------------------------------------
 * Calendar styles
 */

.scui-datechooser-button {
  z-index: 100;
}

.calendar-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/calendar.png') no-repeat;
}

.calendar-icon.disabled {
  opacity: 0.5;
}

.calendar > div,
.scui-datepicker-today,
.scui-datepicker-none {
  text-align: center;
}

.calendar .body {
  padding-top: 14px;
  padding-left: 12px;
}

.calendar .body .day {
  width: 25px;
  height: 25px;
  float: left;
  border-bottom: 1px solid #c6c2be;
  border-right: 1px solid #c6c2be;
  line-height: 25px;
  text-align: center;
}

.calendar .body .day.header {
  height: 12px;
  border-color: transparent;
  font-size: 10px;
  line-height: 12px;
}

.calendar .body .grid {
  margin-top: 18px;
}

.calendar .month {
  font-weight: bold;
  line-height: 20px;
  background: #aaa;
}

.calendar .previous,
.calendar .next {
  position: absolute;
  top: 5px !important;
  width: 8px !important;
  height: 8px !important;
}

.calendar .previous {
  left: 10px !important;
  background: static_url('images/previous-month.png') no-repeat 0 0;
}

.calendar .next {
  right: 10px !important;
  background: static_url('images/next-month.png') no-repeat 0 0;
}

.calendar .grid .day {
  color: #010101;
  font-size: 11px;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  width: 24px;
}

.calendar .grid .day.past,
.calendar .grid .day.future {
  color: #777;
  background: #ddd;
}

.calendar .grid .day.present{
  color: #666;
  background: #fff;
}

.calendar .grid .day.today,
.scui-datepicker-today {
  color: #fff !important;
  background: #97A8C7 !important;
}

.calendar .grid .day.sel {
  color: white;
  background: blue;
}

.scui-datepicker-today,
.scui-datepicker-none {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 11px;
  line-height: 18px;
}

.scui-datepicker-none {
  color: white !important;
  background-color: #999;
}
