/* 

  Projects Pane Styling

  @author Matt Grantham
  @author Suvajit Guupta
  
*/

/*-----------------------------------------------------------------
 * Project pane styles
 */

.sc-scroll-view.projects-pane, .sc-collection-view.projects-pane-inner {
  background: static_url('images/default-theme-repeat-y.png') repeat-y 0 0;
}

.sc-view.sc-ghost-view .sc-scroll-view.projects-pane, .sc-collection-view.projects-pane-inner {
  background: none !important;
}


/*-----------------------------------------------------------------
 * Project list item styles
 */

.projects-pane-inner .sc-collection-item {
  border: 0 !important;
}

.projects-pane-inner .sc-collection-item .sc-outline {
/*  border-top: 1px solid #BBB !important; */
  right: 10px !important;
}

.projects-pane-inner .sc-collection-item .sc-outline label {
  right: 50px !important;
}

.projects-pane-inner .sc-collection-item.has-icon.sel {
  background: static_url('images/default-theme-selected-project.png') no-repeat 0 0 !important;
  font-weight: bold;
  color: #FFF !important;
}

.reserved-project-item {
	color: #666 !important;
} 

.regular-project-item {
  color: #222 !important;
  font-weight: bold;
}

/*.regular-project-item .sc-outline {
  right: 18px !important;
}
*/
.regular-project-item .sc-outline .count {
	font-weight: normal !important;
  line-height: 11px !important;
  color: black !important;
  background: white none repeat scroll 0 0 !important;
  border: 1px solid #AAA !important;
  opacity: 0.8;
}

.project-icon-has-tasks {
  width: 16px;
  height: 16px;
  background: static_url('images/project_has_tasks.png') no-repeat 0 0;
}

.project-icon-no-tasks {
  width: 16px;
  height: 16px;
  background: static_url('images/project_no_tasks.png') no-repeat 0 0;
}
