/* 

Projects Pane Styling

  @author Matt Grantham - grantham.matt@gmail.com
  
*/

.projects-pane {
  background: static_url('images/default-theme-repeat-y.png') repeat-y 0 0; 
}

.projects-pane-inner {
  background: static_url('images/default-theme-repeat-y.png') repeat-y 0 0;
} 

.sc-collection-view.projects-pane-inner {
  border: 0 !important;
}

.projects-pane-inner .sc-collection-item {
  border: 0 !important;
}

.projects-pane-inner .sc-collection-item.has-icon.sel {
  background: static_url('images/default-theme-task-sel.png') no-repeat 0 0 !important;
  font-weight: bold;
  color: #fff;
}

.projects-control {
  background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -106px; 
}

.control-divider {
  background: static_url('images/default-theme-repeat-y.png') repeat-y -254px 0;
}

/* Icons */

.project-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/default-theme-static.png') no-repeat 0 -486px;
}

.project-add-icon {
  width: 21px !important;
  height: 19px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -526px;
}

.project-del-icon {
  width: 21px !important;
  height: 19px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -547px;
}

.project-del-icon.dis {
  width: 21px !important;
  height: 19px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -586px;
}

