/* 

  Projects Pane Styling

  @author Matt Grantham
  @author Suvajit Guupta
  
*/

/*-----------------------------------------------------------------
 * Project pane styles
 */

.projects-pane,
.users-pane {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #000;
  background: #2E2E2E;
  box-shadow: inset 0 3px 8px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.4);
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.6), 0 1px 0 rgba(255,255,255,.4);
}

.sc-view.sc-collection-view.sc-list-view.sc-list-view.projects-pane-inner,
.sc-theme.focus .sc-view.sc-collection-view.sc-list-view.sc-list-view.projects-pane-inner,
.sc-view.sc-collection-view.sc-list-view.sc-list-view.users-pane-inner,
.sc-theme.focus .sc-view.sc-collection-view.sc-list-view.sc-list-view.users-pane-inner {
  background: none;
}

.sc-view.sc-ghost-view .sc-scroll-view {
  background: none !important;
}

.projects-pane-inner .sc-collection-item,
.users-pane-inner .sc-collection-item {
	border: 1px solid #252525 !important;
}

.projects-pane-inner .sc-collection-item,
.projects-pane-inner .sc-collection-item .sc-outline,
.users-pane-inner .sc-collection-item,
.users-pane-inner .sc-collection-item .sc-outline {
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
}

.projects-pane-inner .sc-collection-item.sc-group-item:hover,
.users-pane-inner .sc-collection-item.sc-group-item:hover {
  background: none !important;
}


/*-----------------------------------------------------------------
 * Project group item styles
 */
 
.projects-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item,
.users-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item {
  left: 6px !important;
  color: #777 !important;
}

.projects-pane-inner .sc-group-item .sc-outline,
.users-pane-inner .sc-group-item .sc-outline {
  top: 1px !important;
  bottom: 0px !important;
  left: 1px !important;
  right: 2px !important;
  background-color: #393939;
  box-shadow: inset 0 3px 8px rgba(150,150,150,.6), 0 1px 0 rgba(0,0,0,.4);
  -moz-box-shadow: inset 0 3px 8px rgba(150,150,150,.6), 0 1px 0 rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(150,150,150,.6), 0 1px 0 rgba(0,0,0,.4);
}

.projects-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item .sc-outline label,
.users-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item .sc-outline label {
  left: 20px !important;
  color: #EEE !important;
}


/*-----------------------------------------------------------------
 * Project list item styles
 */
 
.projects-pane-inner .sc-collection-item.project-item,
.users-pane-inner .sc-collection-item.user-item {
  left: 1px !important;
  right: 2px !important;
  background-color: #353535 !important;
}

.projects-pane-inner .sc-view.sc-list-item-view.sc-collection-item.project-item:hover,
.users-pane-inner .sc-view.sc-list-item-view.sc-collection-item.user-item:hover {
  background-color: #2A2A2A !important;
}

.projects-pane-inner .sc-group-item.sel .sc-outline,
.projects-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item.sel .sc-outline label,
.sc-list-view.sc-list-view.projects-pane-inner .sc-collection-item.sel,
.sc-list-view.sc-list-view.projects-pane-inner .sc-collection-item.sel:hover,
.users-pane-inner .sc-group-item.sel .sc-outline,
.users-pane-inner .sc-view.sc-list-item-view.sc-collection-item.sc-group-item.sel .sc-outline label,
.sc-list-view.sc-list-view.users-pane-inner .sc-collection-item.sel,
.sc-list-view.sc-list-view.users-pane-inner .sc-collection-item.sel:hover {
  height: 22px !important;
  color: #000 !important;
  background: #9CF !important;
  border-color: #000 !important;
}

.sc-list-view.sc-list-view.projects-pane-inner .sc-collection-item.project-item.sel,
.sc-list-view.sc-list-view.projects-pane-inner .sc-collection-item.project-item.sel:hover,
.sc-list-view.sc-list-view.users-pane-inner .sc-collection-item.user-item.sel:hover,
.sc-list-view.sc-list-view.users-pane-inner .sc-collection-item.user-item.sel {
  font-weight: normal !important;
}

.project-item .recently-updated,
.user-item .recently-updated {
  margin-left: 0px !important;
}

.project-item .sc-outline,
.user-item .sc-outline {
  left: 5px !important;
}

.projects-pane .projects-pane-inner .sc-collection-item label,
.users-pane .users-pane-inner .sc-collection-item label {
  color: #CCC;
}

.projects-pane .projects-pane-inner .sc-collection-item.sel label,
.users-pane .users-pane-inner .sc-collection-item.sel label {
  color: #222;
}

.projects-pane-inner .sc-view.sc-list-item-view.sc-collection-item .sc-outline label,
.users-pane-inner .sc-view.sc-list-item-view.sc-collection-item .sc-outline label {
  left: 30px !important;
  right: 50px !important;
  opacity: 1 !important;
}

.projects-pane .projects-pane-inner .sel .sc-outline img,
.users-pane .users-pane-inner .sel .sc-outline img {
  top: 12px !important;
  margin-top: -9px !important;
}

.project-item .count {
  right: 14px !important;
  background: #EEE !important;
  color: #555 !important;
}

.project-item .description-icon {
  position: absolute;
  top: 4px !important;
  right: 1px !important;
}


/*-----------------------------------------------------------------
 * Project icons
 */
 
.system-project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/system-project.png') no-repeat 0 0;
}

.empty-system-project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/empty-system-project.png') no-repeat 0 0;
}

.project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/project.png') no-repeat 0 0;
}

.empty-project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/empty-project.png') no-repeat 0 0;
}


/*-----------------------------------------------------------------
 * Calendar styles
 */

.scui-datechooser-button {
  z-index: 100;
}

.scui-calendar > div,
.scui-datepicker-today,
.scui-datepicker-none {
  text-align: center;
}

.scui-calendar .month_header {
  font-weight: bold;
  line-height: 20px;
}

.scui-calendar .weekday {
  color: #010101;
  line-height: 20px;
  font-size: 11px;
}

.scui-calendar .scui-dates {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.scui-calendar .scui-date {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  line-height: 25px;
}

.scui-calendar .scui-date.past {
  color: #a6a6a6;
}

.scui-calendar .scui-date.today,
.scui-datepicker-today {
  color: #fff !important;
  background-color: #97A8C7;
}

.scui-calendar .scui-date.present {
  color: #888;
  background: #fff;
}

.scui-calendar .scui-date.future {
  color: #a6a6a6;
  background: #eee;
}

.scui-calendar .scui-date.sel {
  color: white;
  background: blue;
}

.scui-calendar .previous-month-icon {
  width: 8px !important;
  height: 8px !important;
  background: static_url('images/previous-month.png') no-repeat 0 0;
}

.scui-calendar .next-month-icon {
  width: 8px !important;
  height: 8px !important;
  background: static_url('images/next-month.png') no-repeat 0 0;
}

.scui-datepicker-today,
.scui-datepicker-none {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 11px;
  line-height: 18px;
}

.scui-datepicker-none {
  color: white !important;
  background-color: #999;
}

.calendar-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/calendar.png') no-repeat;
}

.calendar-icon.disabled {
  opacity: 0.5;
}

