/* 

  Projects Pane Styling

  @author Matt Grantham
  @author Suvajit Guupta
  
*/

/*-----------------------------------------------------------------
 * Project pane styles
 */

.sc-scroll-view.projects-pane, .sc-collection-view.projects-pane-inner {
  background: static_url('images/default-theme-repeat-y.png') repeat-y 0 0;
}

.sc-view.sc-ghost-view .sc-scroll-view.projects-pane, .sc-collection-view.projects-pane-inner {
  background: none !important;
}


/*-----------------------------------------------------------------
 * Project list item styles
 */

.projects-pane-inner .sc-collection-item {
  left: 0px !important;
  border: 0 !important;
}

.project-item .recently-updated {
  margin-left: 3px !important;
}

.projects-pane-inner .sc-collection-item .sc-outline label {
  right: 50px !important;
}

.project-item .sc-outline {
  left: 15px !important;
}

.project-item .sc-outline img {
  left: 0px !important;
}

.project-item label {
  left: 19px !important;
}
  
.project-item.sel .sc-outline {
  color: #FFF !important;
	font-weight: normal !important;
}

.project-item.project-no-tasks.sel .sc-outline {
  color: #CCC !important;
	font-weight: normal !important;
}

.project-item.sel,
.projects-pane .project-item.sel:hover {
  background: static_url('images/default-theme-selected-project.png') no-repeat 0 0 !important;
}

.projects-pane .sc-collection-item:hover {
  background: #CCC none repeat scroll 0 0 !important;
}

.sc-view.project-has-tasks {
  color: #111;
}

.sc-view.project-no-tasks {
  color: #888;
}

.project-item .count {
  right: 12px !important;
}

/*
// TODO: [MG] Beta: remove project has/no tasks icons in sprite
*/

.project-icon-has-description {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/project-has-description.png') no-repeat 0 0;
}

.project-icon-no-description {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/project-no-description.png') no-repeat 0 0;
}

.system-project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/system-project.png') no-repeat;
}

.project-duplicate-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/project-duplicate.png') no-repeat;
}
