/* 

  Projects Pane Styling

  @author Suvajit Guupta
  @author Matt Grantham
  
*/

/*-----------------------------------------------------------------
 * Project pane styles
 */

.projects-pane, .users-pane {
  background: #222 !important;
  border: 3px solid #000 !important;
  border-radius: 9px !important;
  -moz-border-radius: 9px !important;
  -webkit-border-radius: 9px !important;
  box-shadow: inset -2px -2px 8px black !important;
  -moz-box-shadow: inset -2px -2px 8px black !important;
  -webkit-box-shadow: inset -2px -2px 8px black !important;
}

.projects-pane .sc-view.sc-container-view,
.sc-view.sc-collection-view.sc-list-view.projects-pane,
.sc-theme.focus .sc-view.sc-collection-view.sc-list-view.projects-pane,
.sc-view.sc-collection-view.sc-list-view.users-pane,
.sc-theme.focus .sc-view.sc-collection-view.sc-list-view.users-pane {
  background: none !important;
}

.sc-view.sc-ghost-view .sc-scroll-view {
  background: none !important;
}

.projects-pane .project-item,
.users-pane .user-item {
	border-bottom: 1px solid #2B2B2B !important;
}

.mobile .projects-pane .project-item .sc-outline {
  left: 6px !important;
  right: 32px !important;
}

.projects-pane .sc-collection-item.sc-group-item.hover,
.users-pane .sc-collection-item.sc-group-item.hover {
  background: none !important;
}


/*-----------------------------------------------------------------
 * Project group item styles
 */
 
.projects-pane .sc-view.sc-list-item-view.sc-collection-item.sc-group-item,
.users-pane .sc-view.sc-list-item-view.sc-collection-item.sc-group-item {
  left: 6px !important;
  color: #777 !important;
}

.projects-pane .sc-group-item .sc-outline,
.users-pane .sc-group-item .sc-outline {
  top: 1px !important;
  bottom: 0px !important;
  left: 0px !important;
  right: 1px !important;
  box-shadow: inset 2px 2px 4px rgba(150,150,150,.6);
  -moz-box-shadow: inset 2px 2px 4px rgba(150,150,150,.6);
  -webkit-box-shadow: inset 2px 2px 4px rgba(150,150,150,.6);
  border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
	border-bottom: 2px solid #111 !important;
}

.projects-pane .sc-view.sc-list-item-view.sc-collection-item.sc-group-item .sc-outline label,
.users-pane .sc-view.sc-list-item-view.sc-collection-item.sc-group-item .sc-outline label {
  left: 24px !important;
  color: #EEE !important;
}


/*-----------------------------------------------------------------
 * Project list item styles
 */
 
.projects-pane .sc-collection-item.project-item,
.users-pane .sc-collection-item.user-item {
  margin-top: 1px !important;
  left: 1px !important;
  right: 1px !important;
  opacity: 0.8 !important;
}

.projects-pane .sc-collection-item.project-item.hover,
.users-pane .sc-collection-item.user-item.hover {
  opacity: 1 !important;
}
.project-item.hover .project-margin {
  background-image: static_url('images/pencil.png') !important;
  background-repeat: no-repeat !important;
  background-position: 0px 3px !important;
}

.sc-list-view.projects-pane .sc-collection-item.sel.drop-target,
.sc-list-view.projects-pane .sc-collection-item.drop-target {
  background: #888 !important;
}

.sc-list-view.projects-pane .project-item.sel,
.sc-list-view.projects-pane .project-item.sel.hover {
  height: 22px !important;
  background: #9FF !important;
  border-color: #000 !important;
}

.touch .sc-list-view.projects-pane .project-item.sel,
.sc-list-view.projects-pane.focus .project-item.sel,
.sc-list-view.projects-pane.focus .project-item.sel.hover,
.sc-list-view.users-pane .user-item.sel,
.sc-list-view.users-pane .user-item.sel.hover {
  height: 22px !important;
  background: #6CF !important;
}

.mobile .sc-list-view.projects-pane .project-item.sel,
.mobile .sc-list-view.projects-pane.focus .project-item.sel {
  height: 30px !important;
}

.sc-list-view.projects-pane .sc-collection-item.project-item.sel,
.sc-list-view.projects-pane .sc-collection-item.project-item.sel.hover,
.sc-list-view.users-pane .sc-collection-item.user-item.sel,
.sc-list-view.users-pane .sc-collection-item.user-item.sel.hover {
  font-weight: normal !important;
  border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
}

.sc-list-view.projects-pane .sc-view.sc-list-item-view.sc-collection-item.project-item.sel label:hover,
.sc-list-view.users-pane .sc-view.sc-list-item-view.sc-collection-item.user-item.sel label:hover {
  cursor: move !important;
}

.project-item .recently-updated,
.user-item .recently-updated {
  margin-left: 0px !important;
}

.project-item .sc-outline {
  left: 24px !important;
}
.user-item .sc-outline {
  left: 18px !important;
}

.project-margin {
  position: absolute !important;
  top: 0px !important;
  bottom: 0px !important;
  left: 11px !important;
	width: 16px !important;
}

.projects-pane .sc-collection-item label,
.users-pane .sc-collection-item label {
  color: #CCC;
}

.projects-pane .sc-collection-item.sel label,
.users-pane .sc-collection-item.sel label {
  color: #222;
  margin-top: -8px !important;
}

.projects-pane .sc-view.sc-list-item-view.sc-collection-item .sc-outline label,
.users-pane .sc-view.sc-list-item-view.sc-collection-item .sc-outline label {
  left: 22px !important;
  right: 50px !important;
}
.mobile .projects-pane .sc-view.sc-list-item-view.project-item .sc-outline label {
  left: 20px !important;
  right: 1px !important;
}

.projects-pane .sel .sc-outline img,
.users-pane .sel .sc-outline img {
  top: 12px !important;
  margin-top: -9px !important;
}
.mobile .projects-pane .sel .sc-outline img {
  top: 16px !important;
}

.mobile .projects-pane img.disclosure {
  top: 7px !important;
}

.sc-view .projects-pane .project-item .count,
.sc-view .projects-pane .project-item.sel .count {
  top: 12px !important;
}

.sc-view .projects-pane .project-item .count {
  right: 14px !important;
  background: #888 !important;
  color: white !important;
}
.mobile .sc-view .projects-pane .project-item .count {
  right: 3px !important;
}
.project-item .description-icon {
  position: absolute;
  top: 4px !important;
  right: -1px !important;
}

.show-tasks {
  position: absolute;
  background: static_url('images/white-arrow-right.png') no-repeat 7px 7px !important;
  right: 1px !important;
  top: 1px !important;
  height: 30px !important;
  width: 30px !important;
}


/*-----------------------------------------------------------------
 * Project icons
 */
 
.system-project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/system-project.png') no-repeat 0 0 !important;
}

.empty-system-project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/empty-system-project.png') no-repeat 0 0 !important;
}

.project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/project.png') no-repeat 0 0 !important;
}

.empty-project-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/empty-project.png') no-repeat 0 0 !important;
}


/*-----------------------------------------------------------------
 * Calendar styles
 */

.scui-datechooser-button {
  z-index: 100;
}

.calendar-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/calendar.png') no-repeat;
}

.calendar-icon.disabled {
  opacity: 0.5;
}

.calendar > div, .scui-datepicker-today, .scui-datepicker-none {
  bottom: 10px !important;
  text-align: center;
}

.calendar .body {
  padding-top: 10px;
  padding-left: 12px;
}

.calendar .body .day {
  width: 25px;
  height: 23px;
  line-height: 23px;
  float: left;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
}

.calendar .body .day.header {
  height: 12px;
  color: #555;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  border-color: transparent;
}

.calendar .body .day:hover {
  background: #BBB !important;
}

.calendar .body .grid {
  margin-top: 18px;
}

.calendar .month {
  font-weight: bold;
}

.calendar .previous,
.calendar .next {
  position: absolute;
  top: 3px !important;
  width: 18px !important;
  height: 18px !important;
}

.calendar .previous {
  left: 10px !important;
  background: static_url('images/black-arrow-left.png') no-repeat 1px 1px;
}

.calendar .next {
  right: 10px !important;
  background: static_url('images/black-arrow-right.png') no-repeat 1px 1px;
}

.calendar .grid .day {
  width: 24px;
  color: #010101;
  background: #DDD;
  font-size: 11px;
  border-left: 1px solid #FFF;
  border-top: 1px solid #FFF;
}

.calendar .grid .day.past,
.calendar .grid .day.future {
  color: #999;
}

.calendar .grid .day.present {
  color: #333;
}

.calendar .grid .day.today, .scui-datepicker-today {
  color: blue !important;
  font-weight: bold !important;
}

.calendar .grid .day.sel {
  background: #99CCFF !important;
}
