/* 

  Settings Pane Styling

  @author Suvajit Guupta
  
*/

/*-----------------------------------------------------------------
 * User pane styles
 */
 
.bordered-view .toolbar {
  background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -124px;
}

.sc-scroll-view.users-pane {
	border-right: 1px solid #bbb !important;
  background: #e1e7f0;
}

.sc-collection-view.users-pane-inner {
  border: none !important;
}

.users-pane-inner .sc-collection-item .sc-outline label {
  right: 50px !important;
}

.sc-view.sc-ghost-view .sc-scroll-view.users-pane, .sc-collection-view.users-pane-inner {
  background: none !important;
}

.users-pane .sc-collection-item.sel {
  color: #FFF !important;
	font-weight: normal !important;
	border: 1px solid #EEE !important;
  background: #3366FF none repeat scroll 0 0 !important;
}

.users-pane .sc-collection-item:hover {
  background: #CCC none repeat scroll 0 0;
}

.users-pane .sc-collection-item.sc-group-item:hover {
  background: none !important;
}

.user-item {
  left: 10px !important;
}

.user-item .sc-outline {
  left: 10px !important;
}

.user-item .sc-outline img {
  left: 0px !important;
}

.user-item label {
  left: 19px !important;
}
  


/*-----------------------------------------------------------------
 * User list item styles
 */

.users-pane-inner .sc-collection-item {
  border: 0 !important;
}

.sc-view.sc-ghost-view .users-pane-inner .sc-view.sc-list-item-view {
	border: 1px solid #999 !important;
}