/* 

  Settings Pane Styling

  @author Suvajit Guupta
  
*/

/*-----------------------------------------------------------------
 * User pane styles
 */
 
 .bordered-view .toolbar {
   background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -124px;
 }

.sc-scroll-view.users-pane {
	border-right: 1px solid #bbb !important;
  background: #e1e7f0;
}

.sc-collection-view.users-pane-inner {
  border: none !important;
}

.sc-view.sc-ghost-view .sc-scroll-view.users-pane, .sc-collection-view.users-pane-inner {
  background: none !important;
}

.users-pane .sc-collection-item.sel {
  background: static_url('images/default-theme-selected-project.png') no-repeat 0 0 !important;
  font-weight: bold;
  color: #FFF !important;
}


/*-----------------------------------------------------------------
 * User list item styles
 */

.users-pane-inner .sc-collection-item {
  border: 0 !important;
}