/* 

  Tasks Pane Styling 

  @author Suvajit Gupta
  @author Matt Grantham
  
*/


/*-----------------------------------------------------------------
 * Task pane/editor styles
 */
 
.sc-collection-view.sc-list-view.tasks-pane {
  background: none;
}

.sc-view.sc-ghost-view .sc-collection-view.sc-list-view.tasks-pane {
  background: none !important;
}

.sc-view.sc-list-item-view.sc-collection-item.sc-group-item {
  position: absolute !important;
  margin-left: -5px !important;
}

.sc-master-detail-view .sc-workspace-view .task-editor {
  background: #DDD !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.sc-master-detail-view .sc-workspace-view .task-editor .title-bar {
  font-size: 14px !important;
  font-weight: bold !important;
  padding-top: 2px !important;
  text-align: center !important;
}

.back-icon {
  background-image: static_url('images/back.png') !important;
}

.previous-icon {
  background-image: static_url('images/black-arrow-left.png') !important;
}

.next-icon {
  background-image: static_url('images/black-arrow-right.png') !important;
}

.previous-icon, .next-icon, .back-icon {
	background-color: #CCC !important;
  border: 1px solid #777 !important;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 1px #222;
  -webkit-box-shadow: 0 1px 1px #222;
}
.previous-icon:hover, .next-icon:hover, .back-icon:hover {
  border: 1px solid #222 !important;
}
.previous-icon.active, .next-icon.active, .back-icon.active {
	background-color: #999 !important;
  border: 1px solid #333 !important;
  -moz-box-shadow: 0 1px 1px #444 inset;
  -webkit-box-shadow: 0 1px 1px #444 inset;
}
.previous-icon.disabled, .next-icon.disabled {
  opacity: 0.5;
}

.sc-master-detail-view .sc-workspace-view .task-editor .sc-label-view,
.sc-master-detail-view .sc-workspace-view .task-editor .sc-split-view,
.sc-master-detail-view .sc-workspace-view .task-editor .sc-split-view .sc-list-view,
.sc-master-detail-view .sc-workspace-view .task-editor .sc-split-view .sc-scroll-view,
.sc-master-detail-view .sc-workspace-view .task-editor .sc-split-view .sc-scroll-view .sc-container-view,
.sc-master-detail-view .sc-workspace-view .task-editor .sc-split-view .sc-scroll-view .sc-container-view .sc-view,
.sc-master-detail-view .sc-workspace-view .task-editor .sc-split-view .comments-view,
.sc-master-detail-view .sc-workspace-view .task-editor .sc-scroller-view {
  background: none;
}
.sc-master-detail-view .sc-workspace-view .task-editor .scui-combobox-dropdown-button-view {
  background-color: #DDD !important;
}
.project-editor .sc-text-field-view.text-area,
.sc-master-detail-view .sc-workspace-view .task-editor .sc-text-field-view.text-area {
  background: beige !important;
}
.sc-master-detail-view .sc-workspace-view .task-editor .sc-text-field-view {
  background: #FFF !important;
}

.sc-split-divider-view {
  cursor: move !important;
}

.comment-icon {
  background-image: static_url('images/comment.png') !important;
}

.comments-list .comment-header {
  color: #444 !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.sc-view .comment-editor {
  background: #EEE !important;
}

.sc-view .comment-description {
  background: #DFD !important;
  font-family: "Lucida Sans","Lucida Grande",Verdana,Arial,sans-serif !important;
  font-size: 10px !important;
  line-height: 1 !important;
}

.comments-list .comment-description {
  min-height: 30px !important;
  margin: 20px 0px 10px 0px !important;
  padding: 2px 5px !important;
  border: 1px solid #AAA !important;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px #222;
  -webkit-box-shadow: 0 1px 3px #222;
  white-space: pre-wrap;
}

.comments-list .sel .comment-description {
  background: #9CF !important;
}

.edit-comment-icon {
  background: static_url('images/pencil.png') no-repeat !important;
  z-index: 100 !important;
}

.delete-comment-icon {
  background: static_url('images/delete-comment.png') no-repeat !important;
  z-index: 100 !important;
}


/*-----------------------------------------------------------------
 * Task pane helper images
 */
 
.helper-add-tasks {
  background: static_url('images/helper-add-tasks.png') no-repeat 0px 98% !important;
}

.helper-display-mode {
  background: static_url('images/helper-display-mode.png') no-repeat 50px 5px !important;
}

.helper-adjust-filter {
  background: static_url('images/helper-adjust-filter.png') no-repeat 98% 5px !important;
}

.helper-select-project {
  background: static_url('images/helper-select-project.png') no-repeat 0px 15px !important;
}

/*-----------------------------------------------------------------
 * Assignee loading styles
 */
 
.assignee-item.sc-list-item-view .sc-outline {
  top: 8px;
}

.assignee-red-flag {
  position: absolute !important;
  top: 4px !important;
  left: 2px !important;
  width: 16px !important;
  z-index: 10 !important;
}

.red-flag-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/red-flag.png') no-repeat;
}

.assignee-item .sc-outline img {
  top: -4px !important;
  left: -12px !important;
  z-index: 10 !important;
}
.assignee-item.sc-list-item-view img.disclosure {
  background-image: static_url('images/black-arrow-right.png') !important;
}
.assignee-item.sc-list-item-view img.disclosure.open {
  background-image: static_url('images/black-arrow-down.png') !important;
}

.sc-view.sc-list-item-view.sc-collection-item.sc-group-item.assignee-item {
  text-transform: none !important;
	font-weight: bold !important;
	font-size: 14px !important;
  color: #222 !important;
  margin-top: 15px !important;
  left: 5px !important;
  right: 0px !important;
  height: 24px !important;
  padding-left: 20px !important;
  opacity: 0.85;
  border-bottom: 1px solid #555 !important;
}
.sc-view.sc-list-item-view.sc-collection-item.sc-group-item.assignee-item.first-assignee-item {
  margin-top: -1px !important;
}

.sc-view.sc-list-item-view.sc-collection-item.sc-group-item.assignee-item:hover {
  opacity: 1;
}

.sc-master-detail-view .sc-workspace-view .task-editor .title-bar,
.assignee-not-loaded {
  background: #AAA none repeat scroll 0 0 !important;
  -moz-box-shadow: inset 0px 2px 2px #DDD;
  -webkit-box-shadow: inset 0px 2px 2px #DDD;
}

.assignee-under-loaded {
  background: #0C0 none repeat scroll 0 0 !important;
  -moz-box-shadow: inset 0px 2px 2px #9F9;
  -webkit-box-shadow: inset 0px 2px 2px #9F9;
}

.assignee-properly-loaded {
  background: #69F none repeat scroll 0 0 !important;
  -moz-box-shadow: inset 0px 2px 2px #9FF;
  -webkit-box-shadow: inset 0px 2px 2px #9FF;
}

.assignee-overloaded {
  background: #F66 none repeat scroll 0 0 !important;
  -moz-box-shadow: inset 0px 2px 2px #FAA;
  -webkit-box-shadow: inset 0px 2px 2px #FAA;
}

.tasks-pane .sc-view.sc-list-item-view.sc-collection-item.sc-group-item.assignee-item label {
  left: 6px !important;
  margin-top: -14px !important;
}

.assignee-item.sc-list-item-view .sc-outline .total {
  top: 0px !important;
  height: 8px !important;
  right: 52% !important;
  width: 100px !important;
  border: 1px solid #333 !important;
  position: absolute !important;
  background: -webkit-gradient(linear, center top, center bottom, from(#FFF), to(#AAA)) !important;
  background: -moz-linear-gradient(center top , #FFF, #AAA) !important;
}
.assignee-item.sc-list-item-view .sc-outline .total .finished {
  top: 0px !important;
  bottom: 0px !important;
  position: absolute !important;
  background: -webkit-gradient(linear, center top, center bottom, from(#AAA), to(#333)) !important;
  background: -moz-linear-gradient(center top , #AAA, #333) !important;
}

.tasks-pane .assignee-item .sc-outline .count,
.assignee-item.incompleteEffortWarning .sc-outline .count.finished {
  top: -2px !important;
  font-size: 11px !important;
  background: #FFF none repeat scroll 0 0 !important;
  color: #555 !important;
}

.assignee-item .sc-outline .count {
  right: 12px !important;
}

.assignee-item .sc-outline .count.finished {
  right: 25% !important;
}

.assignee-item .sc-outline .count,
.task-item .count {
  margin-top: -1px !important;
}

.task-item .sc-outline .count.doneEffortRangeWarning,
.assignee-item.incompleteEffortWarning .sc-outline .count {
  background: #FC0 none repeat scroll 0 0 !important;
  color: #555 !important;
}


/*-----------------------------------------------------------------
 * Task list item styles
 */

.task-item {
  background: #EEE none repeat scroll 0 0 !important;
	border: 1px solid #CCC !important;
}

.task-margin {
  position: absolute !important;
  top: 0px !important;
  bottom: 0px !important;
  left: 12px !important;
	width: 58px !important;
  border-right: 3px solid #FCC !important;
}

.task-id {
  font-size: 9px !important;
	font-weight: normal !important;
	font-style: normal !important;
	text-align: center !important;
  line-height: 1.5 !important;
  letter-spacing: -1px !important;
  position: absolute !important;
  top: 4px !important;
  bottom: 4px !important;
  left: 0px !important;
	width: 40px !important;
}

.watched-task {
  text-decoration: underline !important;
}

.task-item .sc-outline {
  left: 24px !important;
}

.task-item .sc-outline img {
  margin-top: -9px !important;
  left: 53px !important;
}

.tasks-pane .sc-view.sc-list-item-view.sc-collection-item.task-item .sc-outline label {
  top: 9px !important;
  left: 55px !important;
  right: 50px !important;
  height: 24px !important;
  line-height: 24px !important;
  opacity: 1 !important;
}

.tasks-pane .sc-view.sc-list-item-view.sc-collection-item.task-item.task-type-displayed label {
  left: 73px !important;
}

.task-item .count,
.task-item.sel .sc-outline .count {
  top: 5px !important;
	right: 14px !important;
	background-color: #888;
}

.task-item .description-icon {
  position: absolute;
  top: 4px !important;
  right: -1px !important;
}

/*-----------------------------------------------------------------
 * Task type styles
 */

.task-icon-feature {
  height: 16px !important;
  width: 16px !important;
  background: static_url('images/feature.png') no-repeat;
}

.task-icon-bug {
  height: 16px !important;
  width: 16px !important;
  background: static_url('images/bug.png') no-repeat;
}

.task-icon-other {
  width: 16px !important;
	height: 16px !important;
  background: static_url('images/other.png') no-repeat;
}

.watches-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/watches.png') no-repeat;
}

.watch-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/watch.png') no-repeat;
}

.unwatch-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/unwatch.png') no-repeat;
}

.link-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/link.png') no-repeat;
}


/*-----------------------------------------------------------------
 * Task priority styles
 */

.task-priority-high {
	font-weight: bold !important;
}

.task-priority-medium {
	font-weight: normal !important;
	font-style: normal !important;
}

.task-priority-low {
	font-weight: normal !important;
  font-style: italic !important;
}


/*-----------------------------------------------------------------
 * Task validation styles
 */

.sc-view .task-validation-untested, .sc-view .task-validation-passed, .sc-view .task-validation-failed {
  color: black;
  padding: 1px 3px;
  text-shadow: none !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.task-validation-passed {
  background: #0C0 none repeat scroll 0 0;
}

.task-validation-failed {
  background: #F66 none repeat scroll 0 0;
  text-shadow: none !important;
}


/*-----------------------------------------------------------------
 * Task search highlight and description styles
 */

.task-item .highlight {
  background-color: #FF6 !important;
  padding: 1px 0px !important;
  border: 1px solid #BBB !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
}

.task-item .highlight.description-icon {
  top: 3px !important;
  padding: 0px 0px !important;
}

.task-description {
  position: absolute !important;
  top: 4px !important;
  right: 3px !important;
  width: 16px !important;
}


/*-----------------------------------------------------------------
 * Task selection/dragging styles
 */

.task-item.hover {
  background: #CCC none repeat scroll 0 0 !important;
}
.tasks-pane .task-item.sel,
.tasks-pane .task-item.sel.hover {
  background: #9FF none repeat scroll 0 0 !important;
}
.tasks-pane .focus .task-item.sel,
.tasks-pane .focus .task-item.sel.hover {
  background: #6CF none repeat scroll 0 0 !important;
}

.task-item.hover .task-margin {
  background-image: static_url('images/pencil.png') !important;
  background-repeat: no-repeat !important;
  background-position: 44px 3px !important;
}

.sc-view.sc-ghost-view .task-item {
	border: 1px solid #999 !important;
}
