/* 

  Tasks Pane Styling 

  @author Suvajit Gupta
  @author Matt Grantham
  
*/


/*-----------------------------------------------------------------
 * Task pane styles
 */
 
.sc-collection-view.sc-list-view.sc-source-list.tasks-pane-inner {
  background: none;
}

.sc-view.sc-ghost-view .sc-collection-view.sc-list-view.sc-source-list.tasks-pane-inner {
  background: none !important;
}

.assignee-item label, .task-item, .task-id {
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
}

.sc-view.sc-list-item-view.sc-collection-item.sc-group-item {
  position: absolute !important;
  margin-left: -5px !important;
}

.tasks-pane-inner .sc-view.sc-list-item-view.sc-collection-item.task-item .sc-outline label {
  opacity: 0.85 !important;
}

/*-----------------------------------------------------------------
 * Task pane helper images
 */
 
.helper-add-tasks {
  background: static_url('images/helper-add-tasks.png') no-repeat 0px 98% !important;
}

.helper-display-mode {
  background: static_url('images/helper-display-mode.png') no-repeat 50px 5px !important;
}

.helper-adjust-filter {
  background: static_url('images/helper-adjust-filter.png') no-repeat 98% 5px !important;
}

.helper-select-project {
  background: static_url('images/helper-select-project.png') no-repeat 0px 15px !important;
}

/*-----------------------------------------------------------------
 * Assignee loading styles
 */
 
.assignee-item.sc-list-item-view .sc-outline {
  top: 8px;
}

.assignee-red-flag {
  position: absolute !important;
  top: 6px !important;
  left: 6px !important;
  width: 16px !important;
  z-index: 10 !important;
}

.red-flag-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/red-flag.png') no-repeat;
}

.assignee-item {
  text-transform: none !important;
	font-weight: bold !important;
}

.assignee-item .sc-outline {
  left: 5px !important;
}

.assignee-item .sc-outline img {
  top: 6px !important;
  left: 5px !important;
  z-index: 10 !important;
}

.sc-view.sc-list-item-view.sc-collection-item.sc-group-item.assignee-item .sc-outline label {
	font-size: 13px !important;
  color: #111 !important;
  top: 6px !important;
  left: 0px !important;
  right: 0px !important;
  height: 19px !important;
  padding-left: 20px !important;
  opacity: 0.85;
}

.sc-view.sc-list-item-view.sc-collection-item.sc-group-item.assignee-item label:hover {
  opacity: 1;
}

.assignee-not-loaded label {
  background: #AAA none repeat scroll 0 0 !important;
  box-shadow: inset 0 3px 3px #CCC;
  -moz-box-shadow: inset 0 3px 3px #CCC;
  -webkit-box-shadow: inset 0 3px 3px #CCC;
}

.assignee-under-loaded label {
  background: #3C6 none repeat scroll 0 0 !important;
  box-shadow: inset 0 3px 3px #3F6;
  -moz-box-shadow: inset 0 3px 3px #3F6;
  -webkit-box-shadow: inset 0 3px 3px #3F6;
}

.assignee-properly-loaded label {
  background: #69F none repeat scroll 0 0 !important;
  box-shadow: inset 0 3px 3px #6CF;
  -moz-box-shadow: inset 0 3px 3px #6CF;
  -webkit-box-shadow: inset 0 3px 3px #6CF;
}

.assignee-over-loaded label {
  background: #F99 none repeat scroll 0 0 !important;
  box-shadow: inset 0 3px 3px #FBF;
  -moz-box-shadow: inset 0 3px 3px #FBF;
  -webkit-box-shadow: inset 0 3px 3px #FBF;
}

.tasks-pane-inner .assignee-item .sc-outline .count,
.assignee-item.incompleteEffortWarning .sc-outline .count.finished {
  top: 0px !important;
  color: #555 !important;
  background: #DDD none repeat scroll 0 0 !important;
}

.assignee-item .sc-outline .count {
  right: 12px !important;
}

.assignee-item .sc-outline .count.finished {
  right: 175px !important;
}

.assignee-item .sc-outline .count,
.task-item .count {
  margin-top: 0px !important;
}

.task-item .sc-outline .count.doneEffortRangeWarning {
  background: #F93 none repeat scroll 0 0 !important;
}

.assignee-item.incompleteEffortWarning .sc-outline .count {
  color: #333 !important;
  background: #FF8 none repeat scroll 0 0 !important;
}


/*-----------------------------------------------------------------
 * Task list item styles
 */

.task-item {
  background: #EEE none repeat scroll 0 0;
  left: 0px !important;
	border: 1px solid #BBB !important;
}

.task-item .sc-outline {
  left: 8px !important;
}

.task-id {
  font-size: 9px !important;
	font-weight: normal !important;
	font-style: normal !important;
	text-align: center !important;
  line-height: 1.5 !important;
  letter-spacing: -1px !important;
  position: absolute !important;
  top: 4px !important;
  bottom: 4px !important;
  left: 11px !important;
	width: 40px !important;
}

.task-item .sc-outline img {
  margin-top: -9px !important;
  left: 53px !important;
}

.tasks-pane-inner .sc-list-item-view.task-item label {
  right: 50px !important;
}

.task-item label {
  left: 50px !important;
  padding-left: 5px !important;
}

.task-item.task-type-displayed label {
  left: 68px !important;
}

.task-item .count {
  top: 5px !important;
	right: 12px !important;
}

.task-item .description-icon {
  position: absolute;
  top: 4px !important;
  right: 0px !important;
}


/*-----------------------------------------------------------------
 * Task type styles
 */

.task-icon-feature {
  height: 16px !important;
  width: 16px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -256px;
}

.task-icon-bug {
  height: 16px !important;
  width: 16px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -240px;
}

.task-icon-other {
  width: 16px !important;
	height: 16px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -272px;
}

.watch-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/watch.png') no-repeat;
}

.unwatch-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/unwatch.png') no-repeat;
}

.link-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/link.png') no-repeat;
}


/*-----------------------------------------------------------------
 * Task priority styles
 */

.task-priority-high {
	font-weight: bold !important;
}

.task-priority-medium {
	font-weight: normal !important;
	font-style: normal !important;
}

.task-priority-low {
	font-weight: normal !important;
  font-style: italic !important;
}


/*-----------------------------------------------------------------
 * Task validation styles
 */

.sc-view .task-validation-untested, .sc-view .task-validation-passed, .sc-view .task-validation-failed {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
}

.task-validation-untested {
  color: black;
  background: #FFF none repeat scroll 0 0;
	border: 1px solid #AAA !important;
}

.task-validation-passed, .task-validation-failed {
  color: white;
  opacity: 0.85;
  text-shadow: none !important;
}

.task-validation-passed {
  background: #363 none repeat scroll 0 0;
	border: 1px solid #363 !important;
}

.task-validation-failed {
  background: #C33 none repeat scroll 0 0;
	border: 1px solid #C33 !important;
}


/*-----------------------------------------------------------------
 * Task description styles
 */

.task-description {
  position: absolute !important;
  top: 4px !important;
  right: 3px !important;
  width: 16px !important;
}


/*-----------------------------------------------------------------
 * Task selection/dragging styles
 */

.tasks-pane-inner .task-item.sel,
.tasks-pane-inner .task-item.sel:hover {
  background: #9CF none repeat scroll 0 0 !important;
  border-color: #666 !important;
}

.task-item:hover {
  background: #CCC none repeat scroll 0 0 !important;
}

.sc-view.sc-ghost-view .task-item {
	border: 1px solid #999 !important;
}