/* 

  Tasks Pane Styling 

  @author Matt Grantham
  @author Suvajit Gupta
  
*/

/*-----------------------------------------------------------------
 * Task type styles
 */

.task-icon-feature {
  background: static_url('images/feature.gif');
  height: 16px;
  width: 16px;
}

.task-icon-bug {
  background: static_url('images/bug.gif');
  height: 16px;
  width: 16px;
}


/*-----------------------------------------------------------------
 * Task priority styles
 */

.task-priority-high {
	font-weight: bold !important;
	text-decoration: underline !important;
}

.task-priority-medium {
	font-weight: normal !important;
	font-style: normal !important;
}

.task-priority-low {
	font-weight: normal !important;
  font-style: italic !important;
}


/*-----------------------------------------------------------------
 * Task status styles
 */

.task-status-planned {
	color: black !important;
}

.task-status-active {
  color: blue !important;
}

.task-status-done {
  color: green !important;
}

.task-status-risky {
  color: red !important;
}


/*-----------------------------------------------------------------
 * Task validation styles
 */

.task-validation-untested label {
  padding-left: 5px;
  padding-right: 5px;
}

.task-validation-passed label {
  background: #9F9 none repeat scroll 0 0 !important;
  padding-left: 5px;
  padding-right: 5px;
}

.task-validation-failed label {
  background: #F99 none repeat scroll 0 0 !important;
  padding-left: 5px;
  padding-right: 5px;
}


/*-----------------------------------------------------------------
 * Task item/description styles
 */

.task-item {
  left: 22px !important;
  right: 5px !important;
}

.task-item .sc-outline {
  left: 0px !important;
  right: 30px !important;
}

.task-description {
  position:absolute;
  top: 5px;
  right: 10px;
  width: 16px;
  padding-left: 20px;
}

.task-no-description-icon-16 {
  width:16px;
  height:16px;
  background: static_url('images/no_description.png');
}

.task-has-description-icon-16 {
  width:16px;
  height:16px;
  background: static_url('images/has_description.png');
}


/*-----------------------------------------------------------------
 * Task selection styles
 */

.sc-theme.focus .sc-list-view.sc-source-list .sc-collection-item.sel {
  background: #e2e4e7;
	border-style: none;
}

.sc-theme.focus .sc-list-view.sc-source-list .sc-collection-item.sel label {
	border: 2px solid #333;
	margin-top: -10px;
}

/*-----------------------------------------------------------------
 * Assignee loading styles
 */
 
.assignee-not-loaded label {
  color: white !important;
  background: #060 none repeat scroll 0 0 !important;
  padding-left: 10px;
}

.assignee-under-loaded label {
  color: white !important;
  background: #555 none repeat scroll 0 0 !important;
  padding-left: 10px;
}

.assignee-properly-loaded label {
 color: white !important;
 background: #55F none repeat scroll 0 0 !important;
 padding-left: 10px;
}

.assignee-over-loaded label {
  color: white !important;
  background: #F55 none repeat scroll 0 0 !important;
  padding-left: 10px;
}

/*-----------------------------------------------------------------
 * Task pane styles
 */
 
.tasks-pane {
  background: #e2e4e7 !important;
}

.tasks-pane-inner {
  background: #e2e4e7 !important;
}

.tasks-pane-inner .sc-collection-item.sc-group-item.sel {
  background: none !important;
}

/* Task toolbar icons */

.task-add-icon {
  width: 21px !important;
  height: 21px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -442px;
}

.task-del-icon {
  width: 21px !important;
  height: 21px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -464px;
}

.task-del-icon.dis
{
  width: 21px !important;
  height: 21px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -565px;
}

