/* 

  Tasks Pane Styling 

  @author Matt Grantham
  @author Suvajit Gupta
  
*/

/*-----------------------------------------------------------------
 * Task pane styles
 */
 
.sc-collection-view.sc-list-view.sc-source-list.tasks-pane-inner {
  background: #f2f2f2 !important;
}

.sc-view.sc-ghost-view .sc-collection-view.sc-list-view.sc-source-list.tasks-pane-inner {
  background: none !important;
}

.sc-view.sc-list-item-view.sc-collection-item.sc-group-item {
  //left: 0px !important;
}

/*-----------------------------------------------------------------
 * Assignee loading styles
 */
 
.assignee-item {
  background: #f2f2f2 !important;
}

.assignee-item label {
  color: white !important;
  padding-left: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.assignee-not-loaded label {
  background: #444 none repeat scroll 0 0 !important;
}

.assignee-under-loaded label {
  background: #363 none repeat scroll 0 0 !important;
}

.assignee-properly-loaded label {
  background: #33C none repeat scroll 0 0 !important;
}

.assignee-over-loaded label {
  background: #C33 none repeat scroll 0 0 !important;
}


/*-----------------------------------------------------------------
 * Task list item styles
 */

.task-item {
  background: #f2f2f2;
  left: 24px !important;
  right: 5px !important;
}

.task-id {
  font-size: 9px !important;
	font-weight: bold !important;
	font-style: normal !important;
	text-align: center !important;
  line-height: 2.2 !important;
  position: absolute !important;
  top: 2px !important;
  bottom: 2px !important;
  left: 20px !important;
	width: 30px !important;
  color: #000 !important;
  text-shadow: #fff 0 1px 1px;
  background: #CACACA !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.task-item img {
  left: 1px !important;
}

.task-item label {
  left: 53px !important;
}

.task-item .sc-outline {
  left: 0px !important;
  right: 17px !important;
}

.sc-view.sc-ghost-view .task-item {
  background: none !important;
}


/*-----------------------------------------------------------------
 * Task type styles
 */

.task-icon-feature {
  height: 16px !important;
  width: 16px !important;
  background: static_url('images/task_type_feature.png') no-repeat 0 0;
}

.task-icon-bug {
  height: 16px !important;
  width: 16px !important;
  background: static_url('images/task_type_bug.gif') no-repeat 0 0;
}

.task-icon-other {
  width: 16px !important;
	height: 16px !important;
  background: static_url('images/task_type_other.png') no-repeat 0 0;
}

/*-----------------------------------------------------------------
 * Task priority styles
 */

.task-priority-high {
	font-weight: bold !important;
	// text-decoration: underline !important;
}

.task-priority-medium {
	font-weight: normal !important;
	font-style: normal !important;
}

.task-priority-low {
	font-weight: normal !important;
  font-style: italic !important;
}


/*-----------------------------------------------------------------
 * Task status styles
 */

.task-status-planned {
	color: black !important;
}

.task-status-active {
  color: blue !important;
}

.task-status-done {
  color: green !important;
}

.task-status-risky {
  color: red !important;
}


/*-----------------------------------------------------------------
 * Task validation styles
 */

.task-validation-untested label {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.task-validation-passed label {
  padding-left: 2px !important;
  padding-right: 2px !important;
  background: #CFC none repeat scroll 0 0 !important;
}

.task-validation-failed label {
  padding-left: 2px !important;
  padding-right: 2px !important;
  background: #FCF none repeat scroll 0 0 !important;
}


/*-----------------------------------------------------------------
 * Task description styles
 */

.task-description {
  position: absolute !important;
  top: 3px !important;
  right: 3px !important;
  width: 16px !important;
  padding-left: 20px; // FIXME: [SC] why is so much padding needed - otherwise get a scrollbar when the popup pane comes up!
}

.task-icon-has-description {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/task_has_description.png');
}

.task-icon-no-description {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/task_no_description.png');
}


/*-----------------------------------------------------------------
 * Task selection styles
 */

.sc-theme.focus .sc-list-view.sc-source-list .sc-collection-item.sel {
	outline: 1px solid #444 !important;
  background: #f2f2f2 !important;
}