/* 

  Top Navigation Styling

  @author Matt Grantham
  @author Suvajit Guupta
  
*/

/*-----------------------------------------------------------------
 * Top bar styles
 */

.top-bar-divider {
  background: static_url('images/default-theme-repeat-y.png') repeat-y -239px 0;
  border: 0;
}


/*-----------------------------------------------------------------
 * Title bar styles/icons
 */

.title-bar {
  background: static_url('images/default-theme-bar-bg.png') repeat-x 0 0;
}

.title-bar-label {
  font-size: 9px !important;
  color: #eee !important;
  text-align: center !important;
  font-weight: bold !important;
}

.title-bar-label.disabled {
  font-size: 9px !important;
  color: #777 !important;
  text-align: center !important;
  font-weight: bold !important;
}

.tasks-logo {
  background: static_url('images/tasks_logo.png') no-repeat 0 0;
}

.tasks-version {
  color: #fff !important;
  font-size: 10px !important;
  font-style: italic;
}

.welcome-message {
  font-size: 11px !important;
  font-weight: bold !important;
  text-align: center !important;
  color: white !important;
}

.save-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -50px;
}

/*
// TODO: [MG] add a save-icon.disabled style
*/

.import-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 0;
}

.export-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -25px;
}

.settings-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -74px;
}

.help-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -98px;
}

.logout-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -121px;
}


/*-----------------------------------------------------------------
 * Toolbar styles/icons
 */

.toolbar {
  background: static_url('images/default-theme-repeat-x.png') repeat-x 0 -122px; 
}

.toolbar-label {
  font-size: 10px !important;
  color: #fff !important;
  text-align: center !important;
  font-weight: bold !important;
}

.toolbar-label.disabled {
  font-size: 10px !important;
  color: #AAA !important;
  text-align: center !important;
  font-weight: bold !important;
}

.project-add-icon {
  width: 21px !important;
  height: 19px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -526px;
}

.project-del-icon {
  width: 21px !important;
  height: 19px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -547px;
}

.disabled .project-del-icon {
  width: 21px !important;
  height: 19px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -587px;
}

.task-add-icon {
  width: 21px !important;
  height: 21px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -442px;
}

.disabled .task-add-icon {
  width: 21px !important;
  height: 21px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -605px;
}

.task-del-icon {
  width: 21px !important;
  height: 21px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -464px;
}

.disabled .task-del-icon
{
  width: 21px !important;
  height: 21px !important;
  margin-top: 3px !important;
  margin-right: 2px !important;
  background: static_url('images/default-theme-static.png') no-repeat 0 -565px;
}

.assignee-selection-bar {
  background: static_url('images/default-theme-assignee-selection-bg.png') no-repeat;
}

.assignee-selection-bar span {
  padding: 0 0 0 24px !important;
  left: 6px !important;
  font-size: 11px !important;
  font-style: italic;
  line-height: 26px !important;
}

.assignee-selection-bar input {
  padding: 6px 0 0 24px !important;
  left: 7px !important;
  width: 146px !important;
  outline: 0 !important;
  border: 0 !important;
  background: none !important;
  font-size: 11px !important;
}

.assignee-selection-bar input:focus {
  border: 0 !important;
}

.tasks-search-bar {
  background: static_url('images/default-theme-search-filter-bg.png') no-repeat;
}

.tasks-search-bar span {
  padding: 0 0 0 24px !important;
  font-size: 11px !important;
  font-style: italic !important;
  line-height: 26px !important;
}

.tasks-search-bar input {
  padding: 6px 0 0 24px !important;
  width: 156px !important;
  outline: 0 !important;
  border: 0 !important;
  background: none;
  font-size: 11px !important;
}

.tasks-search-bar input:focus {
  border: 0 !important;
}

.filter-cancel-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -650px !important;
  z-index: 101 !important;
  cursor: pointer !important;
}