/* 

  Top Bar Styling

  @author Suvajit Guupta
  @author Matt Grantham
  @author Ryan Mudryk
  
*/

.title-bar, .header {
  background: static_url('images/title-bar-bg.png') repeat-x;
}
.header .modal-title {
  top: 10px !important;
  font-size: 14px !important;
  color: #DDD !important;
  left: 75px !important;
  right: 75px !important;
}
.header .modal-close-icon,
.header .modal-fullscreen-icon {
  background-color: none !important;
}
.header .modal-close-icon {
  left: 15px !important;
  background: static_url('images/red-ball.png') no-repeat;
}
.header .modal-fullscreen-icon {
  left: 45px !important;
  background: static_url('images/green-ball.png') no-repeat;
}

.window-title {
  font-size: 14px !important;
  text-align: center !important;
  color: #DDD !important;
}

.tasks-logo {
  margin-top: -15px !important;
  background: static_url('images/tasks-logo-small.png') no-repeat 0 0 !important;
}

.tasks-version {
  font-size: 10px !important;
  font-weight: bold !important;
  font-style: italic !important;
  text-align: center !important;
  line-height: 11px !important;
  margin-top: -11px !important;
  color: #333 !important;
  background: #2BB9FF none repeat scroll 0 0 !important;
	padding: 0px !important;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.actions-icon {
  background: static_url('images/actions.png') no-repeat;
  width: 28px;
  height: 17px;
}

.statistics-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/statistics.png') no-repeat;
}

.settings-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/settings.png') no-repeat;
}

.email-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/email.png') no-repeat;
}

.import-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/import.png') no-repeat;
}

.text-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/text.png') no-repeat;
}

.html-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/html.png') no-repeat;
}

.logout-icon {
  width: 16px;
  height: 16px;
  background: static_url('images/logout.png') no-repeat;
}

.tasks-icon {
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/tasks.png') no-repeat;
}

.welcome-message {
  font-size: 13px !important;
  text-align: center !important;
  color: #BBB !important;
  line-height: 15px !important;
}
.welcome-message:hover {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #393939 !important;
  -moz-box-shadow: inset 0 3px 6px rgba(150,150,150,.6), 0 1px 0 rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 6px rgba(150,150,150,.6), 0 1px 0 rgba(0,0,0,.4);
}

.filter-icon {
  margin-left: -2px !important;
  width: 16px !important;
  height: 16px !important;
  background: static_url('images/filter.png') no-repeat 0 0;
}

.filter-cancel-icon {
  background: static_url('cancel.png') no-repeat !important;
  z-index: 100 !important;
  cursor: pointer !important;
}

.sc-view .search-bar {
  background: static_url('images/search.png') no-repeat;
}

.sc-view .search-bar .padding {
  top: 2px;
  left: 24px;
  right: 22px;
}

.sc-view .sc-text-field-view.search-bar input {
  color: #BBB !important;
  top: -2px !important;
}

.sc-view .sc-text-field-view.search-bar.sc-hint .field,
.sc-view .sc-text-field-view.search-bar .sc-hint {
  color: #777 !important;
}

.sc-view .sc-text-field-view.search-bar .sc-hint {
  top: 2px !important;
}


/*-----------------------------------------------------------------
 * Search bar browser specific overrides
 */

.safari .sc-view .search-bar.focus,
.mozilla .sc-view .search-bar.focus,
.msie .sc-view .search-bar.focus {
  outline: 0;
}

.safari .sc-view .search-bar .border {
  -webkit-appearance: none;
}

.mozilla .sc-view .search-bar .border {
  -moz-appearance: none;
}

.msie .sc-view .search-bar .border {
  border: 0;
}

.mozilla .sc-view .search-bar input {
  top: 4px;
}

.msie .sc-view .search-bar input {
  line-height: 22px;
}
