/* 

  Top Navigation Styling

  @author Matt Grantham - grantham.matt@gmail.com
  
*/

.top-bar {
  background: static_url('images/default-theme-repeat-x.png') repeat-x 0 0;
}

.tasks-logo {
  background: static_url('images/logo.png') no-repeat 0 0;
}

.tasks-version {
  color: #fff !important;
  font-size: 9px !important;
  font-style: italic;
}

.dock-label {
  font-size: 9px !important;
  color: #fff !important;
  text-align: center !important;
  font-weight: bold !important;
}

.welcome-label {
  font-size: 9px !important;
  line-height: 11px !important;
  color: #0f0 !important;
}

.top-bar-divider {
  background: static_url('images/default-theme-static.png') no-repeat 0 -606px;
}

/* Assignee/task filtering */

.assignee-selection-bar {
  background: static_url('images/default-theme-user-filter-bg.png') no-repeat;
}

.assignee-selection-bar span {
  padding: 0 0 0 24px !important;
  left: 5px !important;
  font-size: 12px !important;
  font-style: italic;
  line-height: 26px !important;
}

.assignee-selection-bar input {
  padding: 7px 0 0 29px !important;
  width: 180px !important;
  border: 0;
  background: none;
  font-size: 12px !important;
}

.assignee-selection-bar input:focus {
  border: 0;
}

.tasks-search-bar {
  background: static_url('images/default-theme-search-bg.png') no-repeat;
}

.tasks-search-bar span {
  padding: 0 0 0 24px !important;
  font-size: 12px !important;
  font-style: italic;
  line-height: 26px !important;
}

.tasks-search-bar input {
  padding: 7px 0 0 24px !important;
  width: 180px !important;
  border: 0;
  background: none;
  font-size: 12px !important;
}

.tasks-search-bar input:focus {
  border: 0;
}

.filter-cancel-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -650px !important;
  z-index: 101 !important;
  cursor: pointer;
}

/* Application-level action icons */

.save-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -50px;
}

.import-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 0;
}

.export-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -25px;
}

.settings-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -74px;
}

.help-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -98px;
}

.logout-icon {
  background: static_url('images/default-theme-static.png') no-repeat 0 -121px;
}